[2018-06-21 16:36] valencar opened #1 "When is active, the Spotlight shortcut stopped working"
The Cmd + Space shortcut, its not working.

[2018-06-22 07:53] azeemmohd opened #2 "Cannot find build"
Do I need to build this by importing the project into Xcode? I cannot seem to find Shaky.app in the repo.

[2018-06-22 09:35] Aahung commented on #2
There is a [release](https://github.com/Aahung/Unshaky/releases) link where you can find in README.

[2018-06-22 09:35] #2 closed

[2018-06-22 09:36] azeemmohd commented on #2
Thanks :)

[2018-06-22 09:50] azeemmohd commented on #1
@Aahung I have the same issue, here's the log for cmd spacebar:
1529660969.939110	 Key(49)	 Event(11) DISMISSED
1529660969.938952	 Key(49)	 Event(10) DISMISSED
1529660969.936624	 Key(49)	 Event(11)
1529660969.744665	 Key(49)	 Event(10)

[2018-06-22 09:52] Aahung commented on #1
@azeemmohd is it for a single "CMD+SPACE" hit or two?

[2018-06-22 09:53] azeemmohd commented on #1
Single.

[2018-06-22 09:56] Aahung commented on #1
@azeemmohd That's odd, on my Mac when I hit "CMD+SPACE", there are only two lines, and you get 4 lines, which means "keydown + keyup + keydown + keyup"

[code]

[2018-06-22 10:00] Aahung commented on #1
@azeemmohd can you try this version I just created? It will ignore "space" key for good.

[Unshaky.app.zip](https://github.com/Aahung/Unshaky/files/2127171/Unshaky.app.zip)

[2018-06-22 10:04] azeemmohd commented on #1
Perfect. Works like a charm. :)

On Fri, Jun 22, 2018 at 3:30 PM _sam <notifications@github.com> wrote:

[2018-06-22 10:07] Aahung commented on #1
@azeemmohd Cool I will update the release with this version.

[2018-06-22 10:10] Aahung commented on #1
Since I cannot let it reappear on my Mac, I will leave this issue open for now.

[2018-06-27 16:37] Petahh opened #3 "Setting custom value"
Hello, first of all thanks a lot for developing this, its amazing. However I still get sometimes double press. Could you please possibly implement option to change time from 40ms to something little more aggressive? Thanks!

[2018-07-02 14:16] Petahh commented on #3
I have changed your code slightly, i have added in `&& (keyCode == 45 || keyCode == 11)` condition for keys which are troubling me and increased time from `0.04` to `0.10` so its more effective. If anyone wants below is snippet of `ShakyPressPreventer.m` and below it are all keyCodes of Mac keyboard.

![image](https://user-images.githubusercontent.com/7292374/42169148-3451a068-7e13-11e8-8e3f-19eac

[2018-07-02 14:16] #3 closed

[2018-07-04 01:08] Aahung commented on #3
I think only preventing the trouble key is better, as you did in your case. Glad it helps.

[2018-07-04 01:11] Aahung commented on #3
0.10 second is kind of long for me, since I sometimes type faster (for example “sunny”) than that. Just customize it as you want.

I end up getting my keyboard replaced under Apple’s new service program.

[2018-07-04 08:31] Petahh commented on #3
@Aahung I'm afraid Apple service program doesn't have solution to this problem and that they will just replace keyboard with same faulty components. For me it's company laptop so whatever fix my problem without having to wait for weeks is good enough. Please, Let me know once your laptop is back from service or rather if you will face the keyboard problems again after repair.

[2018-07-04 13:06] Aahung commented on #3
It’s already back and it fixes it, for now.

The keyboard itself is not faulty, just fragile (to dust). So replacing it can resolve the issue for some time, maybe months, years.

[2018-07-08 19:25] Zajozor opened #4 "Add an option to select time limit for repeated stroke"
I am using this app for a few days now, but the problem is that it saves me from double "b" hits only sometimes. It seems like the 40ms is not enough to cover the second stroke.

It often happens to me, that the second "b" only appears after the next letter,
eg. instead of "macbook" you get "macbobok".

A bigger timeout could fix this issue.

thanks.

[2018-07-09 12:29] Aahung commented on #4
Expect this feature to be implemented in a few days.

[2018-07-11 05:35] #4 closed

[2018-07-11 05:45] Aahung commented on #3
FYI, [v0.2.0](https://github.com/Aahung/Unshaky/releases/tag/v0.2.0) can set delays for individual keys.

[2018-07-11 05:46] Aahung commented on #4
Try [v0.2.0](https://github.com/Aahung/Unshaky/releases/tag/v0.2.0)

[2018-07-11 09:15] doubleosixandahalf opened #5 "Configure window only stays open for a fraction of a second"
When i try and open the configure window it only flashes open and then is gone. I cant modify the settings of the app

[2018-07-11 13:48] Aahung commented on #5
That's odd, can you check if the window still exists but covered by other windows (using mission control)?

 What is your OS version? Does the App also exit or crash?

If possible, can you open the "Console" App (built in app on your Mac) and search "Unshaky" to see if there is any log related?

[2018-07-11 15:13] doubleosixandahalf commented on #5
Hi,

I checked mission control Unshaky is not there.

OS Version 10.12.6

The app doesn't appear to do anything, I have a icon for unshaky on the top of my screen.

output of log from console:

[Unshaky pid:10927 mux-aware] starting, non-mux-aware app count 0, switch-state 0 IG FBs 1 EG FBs 0:0 power-state 6 3D idle HDA idle

[NowPlayingTouchUI] Reloading available apps due to workspace activating

[2018-07-11 15:15] Aahung commented on #5
Thanks for the info. I thought it was due to the system version so I created a virtual machine and just triggered this bug in 10.12.6.

Looking into the issue.

[2018-07-11 15:43] Aahung commented on #5
Try [v0.2.1](https://github.com/Aahung/Unshaky/releases/tag/v0.2.1)

[2018-07-11 15:43] #5 closed

[2018-07-12 07:56] Petahh commented on #3
Thanks a million @Aahung, works like charm!

[2018-07-14 07:31] Aahung commented on #1
@valencar @azeemmohd , what are your OS versions? I wanna if it has something to do with it, like issue #5.

[2018-07-17 22:46] Zajozor commented on #4
works wonderfully, youre a best ! thanks.

[2018-07-24 20:05] mahmai opened #6 "Space key not being delayed."
I can add delay for other keys and it's working fine but not for the `space` key. Even if I added a long delay say _5000_ and press the `space` many  times, it  won't block it.

[2018-07-25 00:40] Aahung commented on #6
I should have removed that workaround since the latest version is capable to manage each key individually. Before I update the code, can you try [0.1.1](
https://github.com/Aahung/Unshaky/releases/tag/v0.1.1) to see if you have the same issue as #1?

[2018-07-25 05:38] mahmai commented on #6
Yes currently I am using that version and changed key-map for spotlight as `cmd + space` doesn't work.

[2018-07-25 05:49] Aahung commented on #6
So you also have the issue #1. What is your OS version?

[2018-07-25 06:01] mahmai commented on #6
Space is not being delayed on [0.2.1](https://github.com/Aahung/Unshaky/releases/tag/v0.2.1). So, I installed [0.1.1](https://github.com/Aahung/Unshaky/releases/tag/v0.1.1)  knowing it has issue #1. I am using `macOS High Sierra 10.13.6 (17G65)`

[2018-07-25 07:15] Aahung commented on #6
That's odd, same as mine.

@mahmai I created another release [v0.2.2](https://github.com/Aahung/Unshaky/releases/tag/v0.2.2) and unlock the space key. Maybe you need to change the spotlight shortcut temporarily, and I need to find a Mac (in real life) that has such issue to test more.

[2018-07-25 07:16] Aahung commented on #6
BTW, I use right option key for spotlight, you can give a try, very convenient.

[2018-07-25 07:29] mahmai opened #7 "Debug window is always empty."
The debug window is always displaying an empty window.
<img width="400" alt="screen shot 2018-07-25 at 10 28 40 am" src="https://user-images.githubusercontent.com/16437807/43185781-8ef01bc8-8ff5-11e8-9ed6-761cf8bc8676.png">

[2018-07-25 07:34] mahmai commented on #7
I see it was opening a new debug window every time I  click `open debug window`.

[2018-07-25 07:35] #7 closed

[2018-07-26 05:45] Aahung commented on #7
Also It only display log of keys enabled in the configuration.

[2018-07-26 06:59] Aahung commented on #6
Oh you can remap the keys using some other apps.

I created a macOS 10.13.6 VM and still could not make the issue appear. No luck seems...

[2018-08-04 16:11] #6 closed

[2018-08-09 12:44] mvoropaiev opened #8 "Command key is not being registered"
Hello,
I think I have a a "double key press" issue with left command key,
I have tried both latest (2.2.0) and 1.1.0 versions, but the command key is not showing in debug window, neither an issue was mitigated.
Is there something I am missing?
Thanks!

[2018-08-10 09:46] Aahung commented on #8
Thanks for opening this issue, try the 0.2.3

[2018-08-10 10:46] Aahung commented on #8
Wait a minute. Why you care about command key? Double press does not seem affect the functions of them. Since the their states (Up/Down) instead of press count matter.

I temporarily removed release v0.2.3.

[2018-08-10 15:13] mvoropaiev commented on #8
@Aahung the thing with command key in my case is that while it's being "double pressed" (as I believe it is), switching between windows with cmd+tab becomes very hard due to key being "released" for short time before "second press" which results in auto switch to next window instead continuing showing the switch menu with ability to press tab key to select another window.

[2018-08-10 15:16] mvoropaiev commented on #8
Another example is trying to cmd+c/cmd+v in text editor, hitting c/v keys while holding command key sometimes result in those letters being typed instead of copying or pasting the text.

[2018-08-10 15:35] mvoropaiev commented on #8
Here is an example [video](https://www.youtube.com/watch?v=WH56oMALvLw) that shows that latest cmd press (6 second onwards) result in it being registered as double click.
But yeah, I see that the way Unshaky works will not help in my case :(

[2018-08-10 16:07] Aahung commented on #8
I will put a new feature in the future plan:

When modifier key is released, Unshaky will hold it, until no immediate press is registered.

Not sure if it is a solution to your case.

[2018-08-11 01:41] Aahung commented on #8
Not sure how practical it is.

[2018-08-11 18:24] anatoliliotych opened #9 "Debug doesn't show anything."
I'm trying to use the app, and it is just silent. There is no info in debug.

OS version: 10.13.6 (17G65)

[2018-08-11 18:29] Aahung commented on #9
A key needs to be configured (with delay > 0) in order to show up in debug window.

[2018-08-11 18:30] anatoliliotych commented on #9
So I'm seeing debug output, but it doesn't solve the problem? should I increase delay time?

[2018-08-11 18:30] #9 closed

[2018-08-11 18:32] Aahung commented on #9
The delay I tested (according to my speed of typing) is 40ms, you may adjust a little bit. If it does not solve the problem, try with a higher value (like 100ms) to make sure it is working, then decrease gradually to fit your typing speed.

[2018-08-11 18:34] anatoliliotych commented on #9
Many thanks! It fixed my issues with two keys :) You are my hero!

[2018-08-11 18:35] Aahung commented on #9
So efficient, glad it works for you.

[2018-08-13 16:55] mvoropaiev commented on #8
After taking of the key for n time in attempt to clean it, I have managed to broke one of four "pins" on butterfly mechanism that are holding it, and after putting the key back with just three of them, voila, the issue with "double press" was not reproduced for the whole working day (was spraying with compressed air and tried to clean it many-many times before), fixing issues the hard way (don't r

[2018-08-16 14:59] Aahung commented on #8
@mvoropaiev

Glad you fixed your keyboard! For me, I tried similar methods without luck, and ended up replacing it. :-(

[2018-08-22 08:03] anatoliliotych opened #10 "App is not working after launching on login"
I've noticed that the app stopped working after relogin, to fix this I had to restart app.

[2018-08-22 23:36] aahung commented on #10
you mean you "Log Out [user name]..." and then log back in?

[2018-08-23 11:11] anatoliliotych commented on #10
Yes, I had to reboot laptop. And app was launched, but it didn't work.

[2018-08-27 11:04] ChristBKK commented on #10
for me i installed it but it shows still 0 dismissed keys?  I did also the settings in the accessability

[2018-08-28 06:12] anatoliliotych commented on #10
@ChristBKK did you try to set value other than 0?

[2018-08-28 08:57] ChristBKK commented on #10
thanks thats a good idea :D now I got it I have to set the MS in the Settings.  I did that now and testing

[2018-08-28 11:07] ChristBKK commented on #10
works great so far keep up the good work! Really helps

[2018-08-28 11:29] ChristBKK commented on #10
@aahung  just to let you know this is still needed :D my new Macbook Pro 2018 has this bug. So it's not resolved with a new keyboard perse.

[2018-08-28 11:49] aahung commented on #10
Hi Anatoli, the issue is odd, I will look into it after traveling back.

[2018-08-28 13:39] aahung commented on #10
@ChristBKK Oh really? I thought the extra membrane makes a difference.

[2018-08-30 23:18] mitchwyle opened #11 "b key still repeats"
I have tried setting the ms delay to all values I could think of and the B key still repeats 1/3 times I press B.  Is the program a software "debounce" system that will prevent double-keys within a time?  If so, what does  the msec delay mean?  TIA

[2018-09-02 00:31] aahung commented on #11
You are right, Unshaky prevents any press within such time frame. if it is 40 ms, two key presses have to be at least 40ms away.
If it does not work for you, post your debug window and mark which key presses are not expected.

[2018-09-10 07:52] ChristBKK commented on #10
@aahung   nope.. it is still there. I work on the newest Macbook Pro.  So you app is a lifesaver.   Thanks for your hard work. I recommend it to my friends when they have the same problem.

Please keep updating it from time to time if needed.

[2018-09-10 17:48] aahung commented on #10
@ChristBKK It is unfortunate they did not fix the issue once for all.

[2018-09-10 17:54] aahung commented on #10
@anatoliliotych I tried to log out and log in back, with Unshaky.app in "login items", and with "reopen windows when logging back in" off, the Unshaky started and worked.

Can you give more details about the info and configurations of your system such as:

- OS version
- how you log out?
- does Unshaky icon shows up in the menu bar after you log back in?
- anything showing up in the debug window?

[2018-09-10 17:56] anatoliliotych commented on #10
So as I remember my laptop switched after 0% of battery, and after I charged it, the app was in the menu bar, debug was clear. OS was up to date.

[2018-09-10 17:57] aahung commented on #10
Do you also encounter such issue when you normally log out and log back in?

[2018-09-10 17:58] anatoliliotych commented on #10
Normal workflow - works fine.

[2018-09-10 18:04] aahung commented on #10
I guess it has something to do with how macOS handles "recovery from battery drained."

Unshaky inserts an event tap in the user session so that it works as long as the user stays log in. When  the battery dies and then charged, the user session is not ended, but the event tap is somehow missing.

Consider it has this issue under such a rare and abnormal situation, I will not dig the cause too dee

[2018-09-10 18:04] #10 closed

[2018-09-10 18:06] anatoliliotych commented on #10
Sure no problem! I've just noticed and decided to report! But as you've said - not a big deal! Thanks!

[2018-09-10 18:08] aahung commented on #10
@anatoliliotych I really appreciate you reported that. Next time similar issues reported I will know what to look for.

[2018-09-25 16:11] Ilkhom-S opened #12 "Make available to change all configuration values at once"
Hello,
Changing all key delay is little bit annoying. Can you add option to change all keys delay at once

[2018-09-25 16:48] aahung commented on #12
@Ilhom-S Ummm.. how many key delays do you need to set? In normal scenarios, there seems to be only one or a several keys with issues.

[2018-09-25 16:49] aahung commented on #11
(close due to inactivity)

[2018-09-25 16:49] #11 closed

[2018-09-25 17:02] billmag commented on #12
I've successfully used this program to help with double presses caused by essential tremor (medical condition involving hand shaking), which would be made easier with an option like this.

[2018-09-25 17:43] Ilhom-S commented on #12
My keyboard seems have issues on all char keys

[2018-09-25 17:52] aahung commented on #12
@Ilkhom-S @billmag can you try version [v0.2.4](
https://github.com/aahung/Unshaky/releases/tag/v0.2.4)?

[2018-09-25 17:53] Ilkhom-S commented on #12
Let me check, thanks

[2018-09-25 17:53] aahung commented on #12
<img width="368" alt="screen shot 2018-09-25 at 10 52 44 am" src="https://user-images.githubusercontent.com/3804518/46032729-42f69200-c0b1-11e8-9adc-00b11a920eb1.png">

[2018-09-25 17:54] #12 closed

[2018-09-25 17:56] Ilkhom-S commented on #12
Thanks, it's working now.

[2018-09-25 17:56] aahung commented on #12
glad it helps

[2018-09-25 17:57] Ilkhom-S commented on #12
Did you use default value(40) if values was 0 ?

[2018-09-25 17:58] aahung commented on #12
Nope, 40 is just a suggested value. Without setting anything, it is 0 by default.

[2018-09-25 18:00] Ilkhom-S commented on #12
ohhh, that's why I see this picture on my program.
![image](https://user-images.githubusercontent.com/446667/46033009-88997600-c116-11e8-87cd-e15e637318bb.png)
I think you should make note on main page. Because I thought, after launching app filters by default. I see dismiss counter and think that app already filtering.

[2018-09-25 18:02] aahung commented on #12
That's odd. If a key is 0, Unshaky will do nothing to it.

[2018-09-25 18:06] Ilkhom-S commented on #12
Yes, now I get you. But on main page there is no info to configure delays to app work properly. There is only note that delay is configurable. That's why I launched app and thought that it's already filtering.

Anyway appreciate for you fast response. And thanks for your app.

[2018-09-25 18:11] aahung commented on #12
oh thx, didn't expect that 😃

[2018-10-17 19:01] stackdumper opened #13 "Add ability to import/export configs"
Thanks for your work. I live in country where I have no ability to fix my MBP keyboard with Apple Keyboard Service program, and Unshaky is the only thing that allows me to use my MBP normally.

It would be great to have an ability to import/export keys delay configuration. It took some time for me to configure delays for every broken key I have.

[2018-10-17 20:04] aahung commented on #13
Hi there, I am a little confused why you need import/export feature, do you have multiple MacBooks or you will lose the configuration regularly?

[2018-10-17 21:18] stackdumper commented on #13
I don't. However, in the future, I might want to do a factory reset and give my MBP to my friend. It would be nice if I could provide him with the ready Unshaky configuration for this specific MBP :)

So I don't think this is a high-priority feature.

[2018-10-18 07:07] anfomin opened #14 "Enable only for built-in keyboard"
I switch to external keyboard at the office. Can Unshaky determine external keyboard and disable key blocking when one is connected?

[2018-10-18 08:50] aahung commented on #1
I believe this issue is related to #8. I user from reddit reported his log

[2018-10-18 08:52] aahung commented on #1
I believe this issue is related to #8. I user from reddit reported his log below

[code]

[code]

[code]

Notice key 55, which is command key, is registered. While on my Mac (and some other users) the command key is never registered in debug mode. Maybe this is the reason why I can never make this issue appear on my Mac. I will look into it later.

[2018-10-18 08:57] aahung commented on #1
I think I was wrong, 55 indeed showed up on my Mac :-(

[2018-10-18 09:11] aahung commented on #1
More report from that user: option+space does not induce two consecutive spaces. So command key is the reason.

[code]

[2018-10-18 13:29] nabtron opened #15 "Not working on OS Mojave (10.14.1 beta)"
It's not working on OS Mojave with latest update (10.14.1 beta)

[2018-10-18 13:55] aahung commented on #15
Thanks for reporting this. Is there anything in debug window? (When you press the keys you configured delays for)

[2018-10-18 13:59] aahung commented on #14
It is a good point 👍

[2018-10-18 14:16] aahung commented on #13
That makes sense. Will add this in the future

[2018-10-18 15:00] nabtron commented on #15
Ok I'm sorry it's working now. I had to change the delay to 500ms to make it work
Also, can you add a way to check the version of app?
And one more issue is that once we configure it, and close configure window, then try to reopen it, it doesn't (on mojave).

[2018-10-18 15:27] aahung opened #16 "Configure window not opening after closing"
As @nabtron reported: "And one more issue is that once we configure it, and close configure window, then try to reopen it, it doesn't (on mojave)."

Such issue also occurs in high Sierra. it should be OS version independent.

[2018-10-18 15:29] aahung opened #17 "Auto-update"

[2018-10-18 15:31] aahung commented on #15
As for displaying version, I plan to add auto-update at the same time. Coming to "releases" and manually downloading/installing seems to be a hassle.

[2018-10-18 15:31] aahung commented on #17
[sparkle](https://sparkle-project.org)

[2018-10-18 21:18] nabtron commented on #15
yes it does work under normal delay, but maybe my keyboard needs longer delay to avoid duplication.

[2018-10-19 03:54] aahung commented on #15
Oh great

[2018-10-19 03:54] #15 closed

[2018-10-26 10:44] #17 closed

[2018-10-26 19:56] #13 closed

[2018-10-26 19:57] aahung commented on #13
![image 5](https://user-images.githubusercontent.com/3804518/47589676-b8f35080-d91e-11e8-953a-f3698edb2ed6.png)
Will be in the next release

[2018-10-26 19:58] aahung commented on #13
![screen shot 2018-10-26 at 12 57 34 pm](https://user-images.githubusercontent.com/3804518/47589703-cad4f380-d91e-11e8-8d11-ff8fb2758b94.png)
Will be in the next release

[2018-10-28 09:05] #14 closed

[2018-10-28 09:06] aahung commented on #14
![screen shot 2018-10-28 at 2 06 12 am](https://user-images.githubusercontent.com/3804518/47614022-1dfd9200-da56-11e8-9282-e158199ca7b1.png)

[2018-10-28 09:13] anfomin commented on #14
Thank you! I'll test this feature.

[2018-10-29 20:22] xunga commented on #1
I worked around by setting the ms of delay for only the spacebar to 0. So far so good...

[2018-11-04 17:48] ghost711 commented on #1
I just submitted pull request #18  for this issue. As you said @aahung , this is related to #8.
Key presses with CMD pressed results in double events in rapid succession, but it's possible to check event flags and ignore the duplicate if needed.

[2018-11-04 18:11] aahung commented on #1
@ghost711 you found it out. That's awesome! I never could reproduce this problem on my Mac.

[2018-11-11 03:46] nabtron opened #20 "About & Settings tab (launch on startup)"
Can you have an about tab to the app? Which will show the current version & any other such info?

Also, can you add settings to it which will allow it to automatically run on startup?

[2018-11-11 03:54] aahung commented on #20
Right now, the version is directly shown in the menu. What kind of “other info” do you mean?

I tried to add launch on startup option but encountered some difficulties (since it is non sandbox app). I might be able to figure it out in the future or any advices are welcome.

[2018-11-17 12:29] daothanhduy305 commented on #1
@aahung Somehow the build I have built for myself including all the latest commits from the dev branch still have the issue with CMD + space.

[2018-11-19 16:49] aahung commented on #1
@daothanhduy305 Currently `dev` branch is a failed experiment 😞. The PR #19 might resolve the `CMD+SPACE` issue, but create other issues. So a fully working workaround will come in the (foreseeable) future.

[2018-11-19 16:52] ghost711 commented on #1
Damn, that's too bad.  It's still working perfect for my machine. Guess there must be more variables than I thought at first.  Oh well.  Good luck!

[2018-11-19 16:57] aahung commented on #1
As @ghost711 said, it might be ok now to try out #19 (just with a very small issue I think: possibly `CMD+SPACE` double press). I think I will soon come up with something adopting #19 method and in the meanwhile does not break the original functionality.

[2018-11-20 00:50] aahung commented on #1
Guys, please try this version of [Unshaky (v0.3.0)](
https://files.nestederror.cf/file/-public-/Unshaky_v0.3.0.app.zip) and turn on the option below:

<img width="432" alt="screen shot 2018-11-19 at 4 45 43 pm" src="https://user-images.githubusercontent.com/3804518/48744169-fb0c6b00-ec1a-11e8-92bd-6efd73c1028c.png">

[2018-11-20 04:32] daothanhduy305 commented on #1
Thanks, I'll try it later. Mine is currently at an AASP for a keyboard repair (Not only duplicating the spacebar but also it doesn't work for some pressing position).

[2018-11-20 20:38] aahung commented on #1
@daothanhduy305 that is great!

[2018-11-21 08:11] #1 closed

[2018-11-30 11:18] mahmai opened #22 "Application quits."
**Describe the bug**
The app quits when set button is clicked with empty value.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'configure'
2. Click on 'set' with out giving value
4. App quits!

**Expected behavior**
Message like 'please provide value in millisecs '.
**Desktop (please complete the following information):**
 - macOS version: 10.14.1

[2018-11-30 23:06] aahung commented on #22
Thanks for reporting this bug! Fix should be coming soon.

[2018-12-01 06:01] mahmai commented on #22
By the way giving  a fraction value (i.e.) in any of the individual keys  or in the set all field also crashes the app. I  need to set fraction value because letter `e` is giving me a hard time. I set the value  for letter `e` to 1 millisec but it still sends double keystrokes  and I can see that it is registered on the debug window too. Help me out please.

[2018-12-01 06:04] aahung commented on #22
@mahmai You should try larger values instead of smaller ones. You can gradually increase from 40ms until it works.

[2018-12-01 06:09] mahmai commented on #22
What? 👁 I think that value was for the delay right?

[2018-12-01 06:10] aahung commented on #22
yep. if it is 0.1ms, the Unshaky will not prevent any key presses after 0.1ms, which is practically 100% the case

[2018-12-01 06:12] mahmai commented on #22
Oh man! My bad` I totally misunderstood the basic concept. Sorry.

[2018-12-01 07:47] mahmai commented on #22
Yeah, Adding instructions of how it works in the `README` could help dummies like me :). what I though was that the milliseconds are values in millisecs that determine the delay in which the second keystroke is sent and I thought that by making that value as little as possible I could avoid the key code from being sent. I never thought that it was the threshold value for `Unshaky` to track for the

[2018-12-01 20:19] aahung commented on #22
Just added an illustration image in README. I think now it is clearer! Thx for your suggestion dude.

[2018-12-01 20:19] #22 closed

[2019-01-10 13:41] jonlong opened #23 "THANK YOU"
Just a note to say THANK YOU for making this! I've been so disappointed with my MBP for a ton of reasons, but your app solves one of my biggest issues. Super happy that I don't have to ship my computer off again. Cheers!

[2019-01-10 15:12] aahung commented on #23
Glad it alleviated your MBP pain 😂. Thanks for posting this issue dude, means a lot to me.

[2019-01-10 15:12] #23 closed

[2019-01-16 05:54] nimrodbens opened #24 "is it possible to make the menu icon bar removable?"
just for us guys that like to keep the menu bar clean from third party apps. thank you, great app! it works great for me.

edit: sorry, *menu bar icon

[2019-01-16 09:51] tisba opened #25 "Does not work on lock screen"
I have an issue with one key and Unshaky works okayish most of the time. But it does not seem to work at all on the lock screen (e.g. after waking from sleep, or after explicit locking)

**To Reproduce**
Steps to reproduce the behavior:
1. active the lock screen
1. type in my password containing the "problematic key"
1. key press is registered twice.

**Expected behavior**
I expect the key not to

[2019-01-21 10:45] aahung commented on #24
It might be worth to look into. Turning it into a preference pane could be a way to go. Not sure how difficult to do it.

[2019-01-21 10:49] aahung commented on #25
Thanks for reporting this, right now Unshaky uses `kCGSessionEventTap` which

I might try to switch to `kCGHIDEventTap`, which according to [Apple Documentation](https://developer.apple.com/documentation/coregraphics/cgeventtaplocation?language=objc)

[2019-01-21 10:55] nimrodbens commented on #24
if I'm not mistaken adding this:
    `statusItem.behavior = .removalAllowed`
on line 44 of `AppDelegate` should do the trick. im not 100% sure.

[2019-01-21 10:56] aahung opened #26 "Butterfly Keyboard Issue Survey"
@apophenist had an idea to do an open survey with Unshaky to find out how severe this issue is at the current stage. We have been thinking collecting statistics such as "fail rate" of problematic keys.

If user chooses to opt-in the survey, Unshaky will record some statistics in the background and send out provided user's consent.

It is working in progress and I open this issue for discussion.

[2019-01-21 10:58] aahung commented on #24
Oh thx, I will try it tmr.

If it works, I maybe need to add a shortcut to toggle it.

[2019-01-21 11:00] nimrodbens commented on #24
thank you! by adding this line i think it allows you to drag the icon out of the menu bar (and it reappears if you "open" the app again - it is already open in the background). about a toggle im not sure. thanks.

[2019-01-21 11:02] aahung commented on #24
That's neat. I think I will include it in the next release if it is simple as that! Thanks!

[2019-01-21 11:03] nimrodbens commented on #24
happy to :) hope it will.

[2019-01-21 18:37] aahung commented on #24
@nimrodbens I tried and I can remove it from the status bar. However, I could not get it back... I checked activity monitor it is there but the item is not showing up after I open Unshaky again.

[2019-01-21 18:51] aahung commented on #24
I think I found the solution. I did a few experiments and found `applicationDidBecomeActive` is only invoked if "you "open" the app again if it is already open in the background" (quote you XD), so I can manually set status bar item visible.

[2019-01-21 18:56] nimrodbens commented on #24
i was just in the middle of replying back to you and suggesting something like `willEnterForegroundNotification` like in iOS :) I'm happy you found it. im an iOS developer for 3 years now and never programmed to macOS. happy you got it to work :)

[2019-01-21 19:01] aahung commented on #24
XD. Guess just need to test a little bit before pushing it to everyone. A big thanks for giving me the hint.

Here you go: [v0.3.2](http://unshaky.nestederror.com/Unshaky_v0.3.2.app.zip)

[2019-01-21 19:02] nimrodbens commented on #24
thanks a lot :) happy to.

[2019-01-21 19:19] aahung commented on #24
[v0.3.2](https://github.com/aahung/Unshaky/releases/tag/v0.3.2) released on GitHub.

[2019-01-21 19:19] #24 closed

[2019-01-21 22:57] aahung commented on #25
Tried, unfortunately, it does not work.

[2019-01-25 12:21] JeremyKeusters opened #27 "Thank you!"
Just a quick thank you note for developing this software! I've been having these issues with my keyboard from time to time with different keys. They usually last for a few days or weeks and then disappear again for some time. This also means that it doesn't really makes sense to pass by the Apple Store..

A few days ago, I had this issue again with the o key of my keyboard which decides to put a d

[2019-01-25 20:17] alsuhr-c opened #28 "Several of my keys still double type"
Hi,

Thanks so much for creating this app! It has definintely helped a lot on my keyboard (and given all they typos here, that's saying somtehing about how bad my keyboard has gotten). Already since installing it two days ago (and using a secondary keyboard most of the time) I have had >50 double key presses rejected.

However, I am still having some keys double type (I'm leaving in typos in this

[2019-01-25 20:20] alsuhr-c commented on #26
Hi,

I have this problem pretty bad onmy keyboard. I noticed most-commonly-usd keys started failing first: first backspace, then 'e', 'n', and 'o', now space,'r', 't'... I type fast and am pretty hard on the keyboard (coming from a 3rd gen Macbook Pro).

[2019-01-28 17:57] aahung commented on #27
Appreciate that! Hope it continues to work for you.

[2019-01-28 17:57] #27 closed

[2019-01-28 18:09] aahung commented on #28
Hi, glad to know some of double types are prevented.
15 ms delay is too short for me when I experimented with different delays, so you are really a fast typer!

Based on my observation, the abnormal bounce usually happens 10-30 ms after the key press, so setting the delays greater than 30 ms is ideal. If you type faster than that, and need to have shorter delays (e.g., 15 ms), Unshaky won't be abl

[2019-01-28 18:20] alsuhr-c commented on #28
Hm, maybe I should try resetting everything to 30ms again.

I do type very fast but don't have delay issues on my external keyboards! :)

And hope I don't have any kind of keylogger... hahaha.

Thanks for the advice!

[2019-01-28 18:20] #28 closed

[2019-01-28 18:25] aahung commented on #28
Wait... I forgot to do the math. `15 ms` means you can press the same key around 66 times per second, maybe the delay is indeed too short...

Then the delay may be due to the short key travel, it responses so fast.

Hope your problems can be resolved soon!

[2019-01-29 14:53] tisba commented on #25
I have no idea if this helps or not, but I think https://github.com/tekezo/Karabiner-Elements does hook into the system in a way that also covers the lock screen.

In any case, thank you for this tool. It helps a lot to bridge the time before I can have my keyboard replaced by 🍎

💕

[2019-01-29 14:56] tisba commented on #26
I like the idea in general and with an explicit opt-in even more.

One potential problem though is the amount of false-positives. My observation is that quite some time, for specific phrases and words I trigger Unsaky causing typos. Most of the time it does the right thing, but I'd guess ~20% of the time Unshaky intervenes it's a false positive (and yes, I'v tried several timing values already).

[2019-01-29 21:05] aahung commented on #25
Thanks @tisba, I will take a look when I get some time. If it is trivial changes I should be able to implement it soon.

[2019-01-30 00:00] aahung commented on #26
False positive is a risk, and only users know how often it happens, qualitatively :-(.

[2019-01-30 09:04] tisba commented on #26
I'm not a statistician, but I'm sure there are ways to apply methods to ensure the statistical significance.

[2019-02-04 20:52] dfdy commented on #26
I could be okay with a 100% opt-in process that doesn't collect any personal information at all. Maybe just the laptop year/model and a unique random identifier.

[2019-02-05 16:34] andhikamaheva commented on #26
+1

[2019-02-10 20:56] cperezabo commented on #8
Are you saying that neither Unshaky couldn't solve the problem?

Btw, I wanted to ask something, I have progressively increased the delay time starting from 40ms, but I cannot go further than 60ms because I almost cannot type "google". The problem I am having right now is that, for example, I am typing "power", so I press "p" "o" "w" and an additional "o" appears leaving a "powoer" in the screen w

[2019-02-10 21:02] cperezabo commented on #8
Are you saying that neither Unshaky couldn't solve the problem?

[2019-02-10 21:03] aahung commented on #8
@cperezabo what I meant was I tried "spraying with compressed air".

Can you also open the debug windows, reproducing the problem and post the debug log?

[2019-02-10 21:05] aahung commented on #8
@cperezabo besides, can you open a new issue for this? since this thread is about command key.

[2019-02-10 21:08] cperezabo commented on #8
I was just doing this before you suggested me, that's why I edited my original comment. 👍🏻

[2019-02-10 21:08] cperezabo opened #29 ""power" becomes "powoer", seemingly delayed second press"
Hi, I have progressively increased the delay time starting from 40ms and I cannot go further than 60ms because I almost cannot type "google".

The problem I am having right now is that, for example, I am typing "power", so I press "p" "o" "w" and an additional "o" appears leaving a "powoer" in the screen when I end up typing.

Anything I can try? sadly in my country there is no official Apple stor

[2019-02-10 21:11] aahung commented on #29
Can you open the debug windows, reproducing the problem and post the debug log here so I can look into it.

[2019-02-10 21:13] cperezabo commented on #29
I am trying to reproduce it but it is not happening now, as you already know it is very random! Sometimes nothing happens and sometimes it start failing repeatedly. As soon as it happens again I will record with the debug window and post it here!

[2019-02-10 21:15] cperezabo commented on #29
Oh and sorry for the title thing, I was so concerned about the issue itself I forgot finish writing the title

[2019-02-10 21:19] aahung commented on #29
Sure, let's see whether it is some issue can be fixed by software. Hope it is just you typing very fast :-). Otherwise, I kind of worry whether it is kind of next level hardware issue the bounce no long be restricted within a very short time, and making it hard to distinguish from normal key presses.

@cperezabo no worry, the title thing is totally fine.

[2019-02-10 21:20] cperezabo commented on #29
While I was writing the word "finish" it happened with the "n" and I wrote "fininsh", luckily I had the debugger opened
<img width="304" alt="screen shot 2019-02-10 at 18 16 05" src="https://user-images.githubusercontent.com/3604722/52539753-77b56e00-2d60-11e9-8726-14ebe207ebe4.png">

[2019-02-10 21:25] mvoropaiev commented on #8
Just a tip (**use it at you own risk**), which for now keeps helping me with this issue (both cmd keys and others), is to just gently take of the key (youtube how to do it), get a toothbrush or something similar and a vacuum cleaner, start with a toothbrush by cleaning the key base and point a vacuum cleaner from different directions using something like medium power setting (do it carefully), rep

[2019-02-10 21:29] aahung commented on #29
Kind of weird, it does not seem to be typing "finish"

<img width="304" alt="52539753-77b56e00-2d60-11e9-8726-14ebe207ebe4" src="https://user-images.githubusercontent.com/3804518/52539873-e205e880-2d37-11e9-8004-2f50b2371454.png">

[2019-02-11 11:49] cperezabo commented on #8
This is my third Mac (13" 2010, 15" Retina 2013, and this one 15" 2017), I am going to have a forth one (next generation), macOS is simply unbeatable, and the 98% of the product is a dream.. BUT..... I cannot believe we have to deal with these stupid hardware bugs, being Apple a company with an inmense experience building Mac products and furthermore taking into account the price.

@mvoropaiev I w

[2019-02-13 17:53] cperezabo commented on #29
I have noticed debugger is not logging keys with 0ms delay, that's why you can't see the full "finish" word. Is this partial logging a by-design behavior or a bug? It would be easier to debug if you add a column with the value of the pressed key so you can graphically find the word. Just an idea.

[2019-02-13 18:47] aahung commented on #29
Oh I forgot that sorry. It was implemented as it is by-design but now I think it makes more sense to show all keys.

I can tell from the log, the last two N presses have ~110ms in between, which is longer than the delay. The keyup of 1st N and keydown of 2nd N are very close thought, and it might be something we can use to recognize it.

As for showing the word instead of the code, I should defini

[2019-02-13 19:00] aahung commented on #29
If you set the delay to 50ms, the last "N" should have been dismissed. Can you try to set the delay of "N" to a very large value (e.g., 900ms) and press it quickly for several times and see whether some "N" are labelled dismissed? Maybe something is wrong with the event interception?

[2019-02-15 13:33] cperezabo opened #30 "Randomly starts blocking dashboard key"
Unshaky randomly starts blocking the dashboard key (at least the only key I could detect by now).

Don't know hot to reproduce it, it happens randomly but never stops. If you close the app and re open it works as expected.

<img width="429" alt="screen shot 2019-02-14 at 21 22 00" src="https://user-images.githubusercontent.com/3604722/52859970-f3bb0780-310c-11e9-9ce1-9b474140965f.png">

macOS vers

[2019-02-15 17:09] cperezabo commented on #30
It's not random. I've fond it starts happening after opening the debuger.

how to reproduce?
- open unshaky
- open debug window
- press launchpad key
- now press it again. DEAD. unshaky starts blocking it.

[2019-02-15 22:53] aahung commented on #30
Thanks for reporting it. It is an issue I think I can fix right away.

[2019-02-16 13:50] dmitrygz opened #31 "Running Unshaky for a long time can disable some keys"
**Describe the bug**
When Unshaky runs for more than (usually)  12 hours, it is possible that (in my case) keys "2" and "3" will stop working completely. I don't really know why those two keys exactly and I am not sure that this only happens after 12 hours, but it's the average running time after which I usually find myself restarting the app because of the issue. Restarting the application comple

[2019-02-18 18:15] melissamcewen commented on #27
Also thank you!! A lifesaver for people like me with dyspraxia!

[2019-02-20 00:41] mhuneke opened #32 "Add a donation URL"
My Mac keyboard is usable again thanks to this project. How can I support this project monetarily?

[2019-02-20 02:51] aahung commented on #30
kind of busy these days. Should fixed soon, still some changes to be done.

[2019-02-20 07:59] aahung commented on #30
@cperezabo hi can you try whether 0.3.3 works? thanks

[Unshaky_v0.3.3.zip](https://github.com/aahung/Unshaky/files/2883580/Unshaky_v0.3.3.zip)

[2019-02-20 08:09] aahung commented on #32
Never thought of that XD. It is really kind of you and here goes the link! Thank you!

[Donate via PayPal](https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=JLLGBFQKTTX9W&source=url)

[2019-02-20 08:09] #32 closed

[2019-02-20 12:12] cperezabo commented on #30
Yes it works!

[2019-02-20 12:15] cperezabo commented on #29
I setup 900ms for R key and It was dismissed just the second time I pressed it.
<img width="432" alt="screen shot 2019-02-20 at 09 13 56" src="https://user-images.githubusercontent.com/3604722/53091166-014b0580-34f0-11e9-9505-c00bb7ee1fc4.png">

[2019-02-20 12:18] cperezabo commented on #29
Now quickly
<img width="400" alt="screen shot 2019-02-20 at 09 17 53" src="https://user-images.githubusercontent.com/3604722/53091341-79b1c680-34f0-11e9-8a3f-3820600bfd8c.png">

[2019-02-20 12:22] cperezabo commented on #29
When I uploaded the last image I see something with my developer's eyes. I tried again with with a large debugger window and after pessing R quickly...... Is it a pattern?
<img width="407" alt="screen shot 2019-02-20 at 09 20 23" src="https://user-images.githubusercontent.com/3604722/53091481-cbf2e780-34f0-11e9-8ab8-aa2b21c2ee54.png">

[2019-02-20 12:33] cperezabo commented on #29
Now with pressing "o" and "r" at a fixed pace
<img width="398" alt="screen shot 2019-02-20 at 09 30 00" src="https://user-images.githubusercontent.com/3604722/53092067-83d4c480-34f2-11e9-9365-eb7e971e7f10.png">

[2019-02-20 12:36] cperezabo commented on #29
Now pressing just "R" quickly, and then less quickly, and less quickly
<img width="404" alt="screen shot 2019-02-20 at 09 35 50" src="https://user-images.githubusercontent.com/3604722/53092238-fe9ddf80-34f2-11e9-8381-0f3820ab0413.png">

[2019-02-20 18:47] aahung commented on #29
It seems to work as expected for the 5 screenshots you just uploaded... My guess is maybe the delay was not effectively set previously. Can you set the delay back to normal and see if the problem still persists?

[2019-02-20 18:48] aahung commented on #31
Can you check the delays (ms) for key "2" and "3"?
Also, do you switch users or put your laptop to sleep during that time. Some users report switching users (or logout) might cause some issues, but I have not yet find the cause.

[2019-02-20 18:50] aahung commented on #31
Also, next time if "2" or "3" do not work, can you open the debug window of Unshaky, press those keys and post the content here? It might help with diagnosis

[2019-02-20 22:06] cperezabo commented on #29
It's set back to 55ms as the rest of the keys. Problem persists. I get a key repeat after having press another key, randomly of course because I'm just typing and boom.

[2019-02-20 23:01] #30 closed

[2019-02-20 23:07] aahung commented on #29
I am starting to wonder whether it is vibration from the press on another key causes the problem. Right now there are "n" and "o" being effected as far as I know, any other keys?

[2019-02-21 11:11] arekm commented on #26
Related for those interested in if this is a common problem.

There is https://discussions.apple.com/thread/8536157 thread about keys repeating (title "MacBook Pro 15" (2018) Keyboard "t" key repeating issue?") with "I have this question, too (55192)" button.

So 55192 people found this thread and clicked it confirming the problem.

[2019-02-21 14:15] cperezabo commented on #29
No I have delay set up for [c, e, i, k, n, o, r, t, space] and happens to all of those keys, but some of them are used more often.

[2019-02-22 04:24] aahung commented on #29
Sorry I still cannot figure out what the cause is. The only option right now is to keep debug window open to generate more log, and hope we can see some patterns.

This version of Unshaky below has key delay in the debug window, you can also build it with the latest commit.
[Unshaky_v0.3.4_internal.zip](https://github.com/aahung/Unshaky/files/2892350/Unshaky_v0.3.4_internal.zip)

[2019-02-22 04:27] aahung commented on #26
omg I didn't expect that many of people have this issue...

[2019-02-23 16:47] cperezabo commented on #29
I was writing "Hearts on fire" and it ends up being "Hearts **ono** fire". There it is the ghost "o"
<img width="407" alt="screen shot 2019-02-23 at 13 43 19" src="https://user-images.githubusercontent.com/3604722/53289182-82fd9600-3771-11e9-8241-077a7fd5b34d.png">

[2019-02-23 20:34] aahung commented on #29
Wow, your “o” key has triple presses... I might have an idea to deal with it. Thanks for the debug info.

[2019-02-23 21:15] aahung commented on #29
@cperezabo Try [v0.4.0](
https://github.com/aahung/Unshaky/releases/tag/v0.4.0) and turn on "aggressive mode" in setting to see if it can solve your problem.

[2019-02-23 21:17] aahung commented on #29
<img width="432" alt="screen shot 2019-02-23 at 1 16 26 pm" src="https://user-images.githubusercontent.com/3804518/53291761-521b6200-376d-11e9-950f-9f244a89c1ad.png">

[2019-02-25 06:13] aahung commented on #29
@cperezabo Just wanna check how it goes?

[2019-02-25 16:36] cperezabo commented on #29
I just installed it and will be checking it

[2019-02-25 23:05] aahung commented on #29
I think this "aggressive mode" should be the default mode when it is tested enough.

[2019-02-26 11:55] cperezabo commented on #29
Yes, I think that too. I have been using it since yesterday and it works flawlessly but something happend 1% of times, I got some duplicated. I was writing "I don't know" and got "I don't kno**o**w"
<img width="405" alt="screen shot 2019-02-26 at 08 54 36" src="https://user-images.githubusercontent.com/3604722/53411061-4b2a6480-39a4-11e9-86f4-f527968bec16.png">

[2019-02-26 11:58] cperezabo commented on #29
Take a look at the first ~6, don't know what's happening. Problem is almost cancelled btw. While writing this I got another extra "o"

[2019-02-26 14:54] cperezabo commented on #29
Writing "nos" I got "noos", I hope to have marked correctly, just to help.
<img width="414" alt="screen shot 2019-02-26 at 11 52 18" src="https://user-images.githubusercontent.com/3604722/53421827-18409a80-39bd-11e9-8862-27945c89f0cc.png">

[2019-02-26 20:26] aahung commented on #29
Great to know 99% of the time it works!

From the log the abnormal bounce occurred >55ms, which is longer than what I expected, and difficult to distinguish from normal presses.  If you type fast. If it is only happening to your “o” key, try to set the delay of ‘o’ to something larger without mess up with your normal typing.

[2019-02-26 20:28] cperezabo commented on #29
<img width="512" alt="screen shot 2019-02-26 at 17 23 29" src="https://user-images.githubusercontent.com/3604722/53443934-9ae04e80-39eb-11e9-9dbc-73153541e036.png">
No writing "turno con" got "turnoo con", the crazy thing is why there is an "o" befor pressing the "n". It's like having a ghost "o" here -> "tur**o**no

[2019-02-26 21:43] aahung commented on #29
It is not before pressing the "n", instead it is before **releasing** the "n" which is fine.
The issue here is (see the screenshot) for the two "o" presses, the second one is obviously unwanted but since it is ~70ms away from the first one (>55ms), Unshaky won't block it. I would suggest you to set the delay of "o" to something around "80ms."

<img width="512" alt="53443934-9ae04e80-39eb-11e9-9dbc

[2019-02-27 12:28] cperezabo commented on #29
55 is my longest delay possible because I cannot type google nor facebook. I guess I will have to live with it 😕

[2019-02-27 17:01] aahung commented on #29
I really hope it can block 100% of these, but your issue seems to be severe... and software solution might not be able to deal with it anymore...

PS: thanks for helping improve Unshaky!

[2019-02-27 17:01] #29 closed

[2019-02-28 14:26] felixbuenemann commented on #8
I have the problem that while Unshaky is running, pressing Cmd+Space simultaneously is not registered. But pressing Cmd first, keeping it pressed and then pressing Space works, as long as the "Fix if CMD+SPACE not work" option is set.

This is a problem, since I often use left thumb and left index finger to press cmd+space with only the left hand.

[2019-02-28 16:32] aahung commented on #8
Should have something to do with #1, can you post your debug window content for both scenarios in #1?

[2019-02-28 16:33] aahung commented on #8
@felixbuenemann Should have something to do with #1, can you post your debug window content for both scenarios in #1 instead of here?

[2019-02-28 17:04] #16 closed

[2019-03-11 16:51] cperezabo opened #39 "Intermittently stops working over time, restarting Unshaky usually help"
Maybe It's just a feeling, but sometimes I feel unshaky is opened and not working as expected.
I close it, and the open it again and it seems to work correctly again... Could it be possible or it's just a reiterative coincidence? 😕

[2019-03-11 18:36] aahung commented on #39
Right now I haven't seen any other incidents yet.

Next time when you feel it does not work, open the debug window and type the same key repeatedly (and quickly). It should print "dismissed" for some events. Otherwise, we can investigate further.

[2019-03-11 18:38] aahung commented on #39
And recently I did not release any major changes, neither did Apple do to macOS. So if it works before it should continue to work. 🤔

[2019-03-13 01:44] CristianMoisei commented on #20
This app is a great idea, thanks for making it. An option to hide the menu bar app would be nice if that is possible.

[2019-03-13 02:57] aahung commented on #20
@CristianMoisei nice you said that. See #24 for hiding menu bar item.

[2019-03-13 18:46] daniellivingston commented on #7
+1. I'm experiencing this same issue as well running v0.4.3 on macOS Sierra.

[2019-03-13 21:28] CristianMoisei commented on #20
@aahung oh, I didn't know you could do that. Thanks for the tip.

[2019-03-14 06:00] nmercuro commented on #39
I have this same issue occasionally where it becomes less effective over time.  If I close the app and reopen it the problem goes away.  I installed it about a week ago and it completely fixed my issues with the keyboard, then after a day I noticed that the issue had come back, and saw that the app had closed itself. When I turned it back on it worked fine for a while, then suddenly had the same i

[2019-03-14 06:21] nmercuro commented on #39
So I ran the  debugger while typing t his responsea nd  this is  the raw output of thekeyboardwithout any typos. I'm not really sure what's going on.  It seems like  some of the keys are being  recorded incorrectly?  I fixed all of my own typos. The double spaces and typos are  the result of the keyboard with the app running.

<img width="488" alt="Screen Shot 2019-03-13 at 11 21 24 PM" src="https

[2019-03-14 06:24] nmercuro commented on #39
I tried enabling aggressive mode and changed the delay to 45ms to see if that helped at all.  I think the typos were from the delay, but the spaces seem like they stil loccur randomly.  Here's a typo that seems like it  added a random space in the middle of me typing the word still.
<img width="461" alt="Screen Shot 2019-03-13 at 11 24 22 PM" src="https://user-images.githubusercontent.com/32778769

[2019-03-14 15:05] chmac opened #40 "Ignore external keyboard ignores internal keyboard on 2018 MacBook Pro 15"
**Describe the bug**
I've set all keys to 40ms. I'm typing in a text editor with the debug window open. Only modifiers produce output in the debug window. Shift, caps lock, fn, control, option, command. The rest of the keys produce no output, and no settings applied to them seem to have any effect. (I've tried setting keys to 500ms, no effect).

**Desktop (please complete the following information

[2019-03-14 15:33] MacDragon commented on #40
I think knowing which computer would be relavant, is it a 2018? I tried it and had similar results, nothing seemed to happen.

[2019-03-14 18:58] chmac commented on #40
Yeah, it’s a 15” MacBook Pro late 2018. Did you ever find a solution? :-)

[2019-03-14 19:50] aahung commented on #39
@nmercuro it closing itself is odd, can you open the `Console.app` and search for "Unshaky" to see if there is any system log about it? As for the log you post here,

two interesting findings made me suspect your `space` key sometimes delays response or even not response at all

- there was no space registered in `thekeyboardwithout` at all
- `responsea nd`

[2019-03-14 19:51] aahung commented on #40
@chmac you mentioned you tried all options right, even unchecking all options? What is your keyboard layout? In the meanwhile I will create a modified version to show more debug info.

[2019-03-14 19:57] chmac commented on #40
@aahung It seems to be an intermittent problem. Sometimes when I resume the mac from sleep it works (like right now) and sometimes I see nothing in debug. It seems like the Unshaky app doesn't resume from sleep in some situations. Happy to try out a build with more debugging options in those situations if I can observe the same conditions again.

[2019-03-14 20:03] nmercuro commented on #39
Yea, I'm thinking that the space bar is intermittently both not registering keypresses AND registering 2-3 keypresses when there was only 1.  Quite frustrating.

[2019-03-14 20:25] aahung opened #41 "Typing super fast could result in nearly 60% (observed peak) CPU usage"
**Describe the bug**
Reported by reddit user u/ndawg who sees over 50% CPU usage with `top`. I do reproduce the issue when typing super fast. Unshaky should not make 50% core usage.

[2019-03-14 20:46] #41 closed

[2019-03-14 23:42] aahung commented on #40
@chmac Here is the modified version that displays all the information Unshaky can capture, it might reveal something. When it is still running but it does not work, check the debug window.

[Unshaky_v0.4.4_debug.zip](https://github.com/aahung/Unshaky/files/2968860/Unshaky_v0.4.4_debug.zip)

[2019-03-14 23:52] aahung commented on #39
@nmercuro For the "close itself" part, search "Unshaky" in the console.app to see if there is anything there. Otherwise I will add some crash report feature directly into Unshaky.

[2019-03-15 18:17] aahung commented on #7
@daniellivingston sorry I didn't see your comment until now. Have you set the delays for any keys? The debug window only shows events of keys you set delays to non-zero values.

[2019-03-15 18:20] daniellivingston commented on #7
I have, quite a few keys are set. Note that the status icon says "Dismissed 342 shaky presses". And the core program is working wonderfully! It is only the debug pane that fails to load.

[2019-03-15 18:21] daniellivingston commented on #7
## Status bar icon:

<img width="124" alt="Screen Shot 2019-03-15 at 12 20 23 PM" src="https://user-images.githubusercontent.com/20751300/54453365-c74ed700-471c-11e9-97dc-638f39e45af1.png">

## Debug pane:

<img width="616" alt="Screen Shot 2019-03-15 at 12 20 32 PM" src="https://user-images.githubusercontent.com/20751300/54453358-c322b980-471c-11e9-87c5-c6335a8cac89.png">

[2019-03-15 18:22] aahung commented on #7
@daniellivingston Let's say you set the day of "a" to 100ms. Open the debug window and press "a," is there anything?

[2019-03-15 18:23] daniellivingston commented on #7
Done - no, unfortunately there is not. Still blank.

<img width="335" alt="Screen Shot 2019-03-15 at 12 23 07 PM" src="https://user-images.githubusercontent.com/20751300/54453535-23b1f680-471d-11e9-98b5-993df407a279.png">

[2019-03-15 18:26] aahung commented on #7
That might have something to do with Sierra (I did all testing on Mojave)
In [v0.4.4](https://github.com/aahung/Unshaky/releases/tag/v0.4.4) I changed the way how debug window is opened. Can you give it a try?

[2019-03-15 18:38] daniellivingston commented on #7
On v0.4.4, I tried typing a few sentences and verified that additional key presses were captured, but still no dice:

<img width="610" alt="Screen Shot 2019-03-15 at 12 37 38 PM" src="https://user-images.githubusercontent.com/20751300/54454489-30cfe500-471f-11e9-8155-9f10bd45a21f.png">

[2019-03-15 18:41] aahung opened #42 "Debug window is always empty on Sierra"
**Describe the bug**
debug window cannot capture events, reported by @daniellivingston in #7

**To Reproduce**
Steps to reproduce the behavior:
1. Open debug window
2. type anything

**Desktop (please complete the following information):**
 - macOS version: Sierra

[2019-03-15 18:42] aahung commented on #7
Thanks for doing these tests! I don't have a Sierra development environment to find out what is going... I opened a new issue #42 and keep it open for now. Sorry for the inconvenience.

[2019-03-15 18:43] aahung commented on #42
I don't have a macOS Sierra to debug but assuming it is an easy-fix. Any help is appreciated!

[2019-03-18 14:17] renziyao opened #43 "Can you add a counter?"
Can you add a counter on the key which has been double clicked? We want to know how serious it is, so that we can repair it in the genius bar.

Thank you.

[2019-03-18 19:14] aahung commented on #43
you are talking about counting for individual keys right? Currently we have a counter but it is aggregating counts of all keys.

[2019-03-19 00:50] aahung commented on #7
@daniellivingston Can you try this version, I don't have a Sierra to test it. Thanks!

[Unshaky_v0.4.5_beta.zip](https://github.com/aahung/Unshaky/files/2981019/Unshaky_v0.4.5_beta.zip)

[2019-03-19 01:22] renziyao commented on #43
Yes. That was exactly what I mean.

[2019-03-26 11:38] chmac commented on #40
@aahung I've finally got unshaky again in a "broken" state. It's not capturing any keystrokes right now. I'm running the debug version you posted above. My debug window is blank. I only opened the debug window once it was already in this state. I've tried setting all keys to a 40ms delay, but no change. Restarting unshaky has solved the issue. Now I see all keystrokes logged.

Anything else I coul

[2019-03-27 07:55] aahung commented on #40
@chmac thanks for it. I think there might be something wrong with the event tapping. I don't know why this could happen. Someone else reported similar issue after battery dies, and it could be related.

Two possible causes but I don't know how to verify either easily...:

- some rare system event reset the event tap so Unshaky cannot receive any events
- some other software has conflict with Unsha

[2019-03-27 07:58] chmac commented on #40
It seems to be related to suspend / resume. That's just an anecdotal impression, so it might not be accurate. Maybe it's possible to detect resumes and somehow try to figure out if the event tap has been lost? I'm happy to be a guinea pig if that helps. I'm hoping that Apple will eventually fix the problem (after they hopefully fix my second broken laptop), but until then... :-)

[2019-03-27 08:14] aahung commented on #40
Normal sleep / resume should not be an issue, might be something abnormal. Detecting resume then recovering it might be a solution. Besides, since Unshaky is still running, it can also periodically check if the event tap is lost.

XD

[2019-03-27 21:58] chmac commented on #40
Weird, it seems like now the computer has gone into this mode without a restart. No idea why. I'm getting repeated keys right now, and the <kbd>t</kbd> key is not being logged into the debug window. The modifier keys are being logged, but no keyboard press keys. I'm still running your special debug version. Not sure if the modifier keys being captured sheds any light on what's going on or not.

I

[2019-03-27 22:01] chmac commented on #40
OK, I just restarted unshaky, and I'm still seeing the same behaviour. Only modifier keys get logged. So it looks like it's not actually an unshaky state, but somehow a MacOS state. Is there anything I can try to see what's causing this?

It looks like there are actually 2 issues here. One is fixed by an unshaky restart, and one is not. At first I think I got them confused into a single issue, but

[2019-03-27 22:19] chmac commented on #40
Sorry about the wall of text. I've figured out one thing that's definitely happening repeatedly.

If I set the "ignore external keyboard" option to true, then no keys get captured.

I'm not running the latest 0.4.4 release.

Mac: MacBook Pro (15-inch, 2018)
MacOS: 10.14.3 (18D109)

Let me know if I can do anything else to help with this. If there is in fact still another separate issue going on, I

[2019-03-28 23:50] githmw opened #44 "'Unshaky' for Windows??"
I read about your Mac program in a Wall Street Journal article. I think that is a very clever idea.

I use Windows7 PRO on my desktop. I use a very old KeyPro keyboard, which is great--much better than newer ones and with lots of customizable features. But a few of the keys have begun to double print, even though the key itself returns to the up position normally. There are no parts available for

[2019-03-29 01:13] aahung commented on #40
@chmac oops that will be hard to debug ...

@chmac can you turn off that option and try to type something and give me the debug output? with this version of Unshaky. [Unshaky_v0.4.5(31).zip](https://github.com/aahung/Unshaky/files/3020686/Unshaky_v0.4.5.31.zip) I think the 2018's MacBook has a different keyboard type due to the T2 security chip. Thanks and it will be a quick fix once I get the cor

[2019-03-29 01:25] aahung commented on #44
A simpler version for Windows is feasible. I don't have a Windows machine so developing a Unshaky windows counterpart is hard for me. I found [a simple key map utility written in C](https://github.com/ililim/dual-key-remap) and I think it can be modified to prevent double key presses. I could play with it when I have time.

[2019-03-29 09:53] chmac commented on #40
Here's some debug output with ignore external keyboard set to off.

[code]

Does that help?

[2019-03-29 14:55] aahung commented on #40
@chmac absolutely! "ignore external keyboard" is an easy fix thanks to you!

[2019-03-31 23:46] cperezabo opened #45 "Is it working?"
I think latest version is not working at all, it's not blocking anything and the debugger shows nothing

[2019-03-31 23:50] aahung commented on #45
v0.4.5?

[2019-03-31 23:56] aahung commented on #45
Thank you so much for reporting this... I made a silly mistake. If you turn on "ignore external keyboards" it will become useless... patching right now.

[2019-04-01 00:08] aahung commented on #45
Please update it again, it should be fixed. Thanks @cperezabo !

[2019-04-01 00:08] #45 closed

[2019-04-01 17:16] andreynering commented on #39
I also noticed this issue.

The app intermittently stops working, but restarting it fixes the issue.

Otherwise that, great app! Thanks for making it @cperezabo!

[2019-04-01 17:20] aahung commented on #40
Closing it and move "stops working until restart" part to #39

[2019-04-01 17:20] #40 closed

[2019-04-01 17:22] aahung commented on #39
We had a little discussion in #40 and implementing some "recovery mechanism" is a feasible workaround.

[2019-04-01 17:52] chmac commented on #39
@aahung I see no mentions of `unshaky` in my console. Unshaky is currently in a broken state. I'm looking in the "Devices" tab for this machine. If you'd like me to check any other logs in the console, just let me know.

[2019-04-01 18:13] aahung commented on #39
@chmac then it must lose the event tap (listener) naturally. I just made some modifications and hope it can resolve the problem. Also I put a simple recovery mechanism, and when you click the Unshaky status bar item, it will be triggered. v0.4.7 on the way (in a few mins)

[2019-04-01 19:24] xiaohanzai opened #46 "Doesn't entirely work for my e key"
**Is your feature request related to a problem? Please describe.**
This software really solves most of my problems. Thanks so much! However the double key press problem with my e key seems much more severe than other keys. I have already set the time delay to 80 ms and it still doesn't entirely work. Maybe there is a distribution of delay times with a long tail? Sometimes the second key press does

[2019-04-01 19:44] aahung commented on #46
@xiaohanzai Can you try the "aggressive mode" from the setting? this seems to be a similar issue #29

[2019-04-02 01:06] hazar-e opened #47 "Feature Requests: Disabling automatic update checks. - Counter reset option."
*  an option for Disabling automatic update checks.

* option for reset counter ("Dismissed 940 shaky presses")

<img width="245" alt="Ekran Resmi 2019-04-02 03 59 30" src="https://user-images.githubusercontent.com/36481442/55368827-8caab400-54fc-11e9-9743-8ae0532aae0d.png">

[2019-04-02 01:15] hazar-e opened #48 "i want translate to Turkish Language."
**Language**
Turkish

**Can you help with the translation?**
(Yes)

[2019-04-02 01:52] xiaohanzai commented on #46
Thanks! I just installed 0.4.7 and turned on the aggressive mode. Will wait and see.

[2019-04-02 07:31] akhromets opened #49 "Russian/Ukrainian languages."
**Language**
Russian, Ukrainian.

**Can you help with the translation?**
(Yes/No)
Yes

[2019-04-02 12:28] balazspekarcc opened #50 "Add Shift keys to Unshaky"
In the configuration window there is no option to add Shift keys.
On my MacBook Pro the left shift is "broken".
It would be nice to have this listed along with the other keys as well.

[2019-04-02 15:34] aahung commented on #47
Just found the update check interval is 1 day. I think it is too frequent, gonna change to 1 week by default. Auto updating for a software in early stage like Unshaky (has known bugs to fix and features to implement) is needed I think.

Sure. Also a hard reset button to reset everything.

[2019-04-02 15:48] aahung commented on #48
Hi @hazar-e thanks for your interest. A branch named "lang/tr" has been created and you can see 4 string files in [tr.lproj](https://github.com/aahung/Unshaky/tree/lang/tr/Unshaky/tr.lproj)

For each file you will see several `"some identifier here" = "some text in English here";` and only `"some text in English here"` part need translation. Besides, `/* ... */` are comments and they don't need tr

[2019-04-02 15:50] aahung commented on #49
Hi @akhromets thanks for your interest. Two branches named "lang/ru" and "lang/uk" have been created and you can see 4 string files in either [ru.lproj](https://github.com/aahung/Unshaky/tree/lang/ru/Unshaky/ru.lproj) or [uk.lproj](https://github.com/aahung/Unshaky/tree/lang/uk/Unshaky/uk.lproj)

For each file you will see several `"some identifier here" = "some text in English here";` and only `"

[2019-04-02 15:58] aahung commented on #50
It is a long-overdue feature... I hardly see it as a priority, since these keys, not like keys such as `space`, does not produce annoying extra inputs when double pressed. Anyway I will implement it when I have time, to make Unshaky feel "complete."

Just curious, how does a bouncing "shift" key affect the keyboard functionality?

duplicate of #8

[2019-04-02 16:10] aahung commented on #50
moving the discussion to #8

[2019-04-02 16:10] #50 closed

[2019-04-02 16:24] aahung commented on #8
I just thought about debouncing modifier keys.

Let's use "a" key and "CMD" key as examples, and they both register twice when pressed once.

The expected behavior of "a" is only to produce one "a" signal, so Unshaky can simply kill the second registration.

The expected behavior of "CMD" however, is to keep "held" state for the entire press, and killing the second registration cannot solve the pr

[2019-04-02 16:34] balazspekarcc commented on #8
I'm just here to upvote to add "Shifts" to Unshaky. I'm a frontend developer and using IntelliJ/Webstorm heavily on a daily basis and double shift press opens up the quickswitch panel - which I'm pretty sure can be mapped to another key, but hey, good habits never die, right :)
So yeah, registering the Shift twice can cause this problem that the quickswitcher opens even when I don't want it to. An

[2019-04-02 23:48] aahung commented on #48
Thank you @hazar-e for #53 ! Merged!

[2019-04-02 23:48] #48 closed

[2019-04-02 23:49] aahung commented on #49
Thank you @akhromets for #51 and #52, both merged!

[2019-04-02 23:49] #49 closed

[2019-04-03 21:06] jkeezy615 commented on #43
Thanks again for creating this code, I can't tell you how much I appreciate it. Is it possible to view the aggregate counter for which keys are double clicking and how often?

[2019-04-04 13:36] martisj opened #54 "Alfred auto expansion doesn't work as smoothly as it used to"
**Describe the bug**
Auto expanding snippets in Alfred replay a bunch of key strokes at a blazing rate, however this conflicts with unshaky. So I guess it's more of a feature request maybe?

**To Reproduce**
Steps to reproduce the behavior:
1. Make an auto expandable snippet in Alfred
2. Set the expansion speed to the slowest
3. Expand the snippet and see that only part of it is removed again afte

[2019-04-06 18:52] hadleyac commented on #43
I think that having a counter for the individual keys would be great as well.

[2019-04-07 17:19] calphool opened #55 "support different keys"
It would be nice if unshaky could be configured to remove OTHER characters other than double strokes.  When a mac keyboard starts acting up, sometimes it types other keys that are in the same row, not just the one you are pressing.  For example, if you press J, sometimes it double presses J, but it may also type JAK because A and K are in the same row.

[2019-04-07 19:08] aahung commented on #55
@calphool I am afraid it is not something software can do easily, since it is nearly impossible to tell whether "A/K" is intended or not.

[2019-04-07 19:08] #55 closed

[2019-04-07 19:10] aahung commented on #54
I will try to monitor Alfred's auto expansion to see whether I can whitelist it.

[2019-04-07 19:11] aahung commented on #43
Will work on it :-)

[2019-04-08 05:51] stewartadam commented on #39
In my case I just observed Unshakey not working and the debug window showed no keys being captured. Restart fixed the issue.

[2019-04-08 06:30] aahung commented on #39
Can you try v0.4.7? I am not sure if it can be fixed with v0.4.7.

[2019-04-09 22:12] nmercuro commented on #39
Still not working entirely with 0.4.7. Sometimes I reset the app and it works better and other times it doesn't.

[2019-04-09 22:20] nmercuro commented on #39
Here's a nexample of me typing into chrome. What's interesting is that it seems to work better in certain apps? For instance, in chrome, it's dismissing a lot of erroneous keypresses, but  in "Spark", the e-mail client I use, almost every other word has an extra space or similar. Perhaps the capture  isn't working in certain apps? Is there a way to find out?

1554848308.062517 Key( 58|  4|

[2019-04-09 22:54] aahung commented on #39
v0.4.7 implements a mechanism when you click Unshaky in status bar it auto try to recover itself. If clicking Unshaky in status bar has same effect as restarting Unshaky, please let me know, so I can make the rauto-recovery more aggressive.

I don't think Chrome and Spark could have differences since Unshaky works at a lower level than these applications. Unless we do some controlled study we don'

[2019-04-09 23:01] #46 closed

[2019-04-09 23:01] aahung commented on #46
reopen it if the issue persists.

[2019-04-09 23:04] aahung commented on #26
Provided people have enough attention on this issue after the recent WSJ article, and Apple issues an apology statement right after it. I don't think a survey that only sample the "faulty keyboards" can be very meaningful. Thanks for the discussion here!

[2019-04-09 23:04] #26 closed

[2019-04-09 23:05] aahung commented on #20
I don't want to investigate too much time on the option to "auto launch on startup" since the user only has to configure once.

[2019-04-09 23:05] #20 closed

[2019-04-10 01:27] nmercuro commented on #39
It really seems random now that I've tested it a bit more. Chrome is especially bad when writing on FB or similar, but I guess it's just be USA you're typing more?
On Apr 9, 2019, 15:54 -0700, _sam <notifications@github.com>, wrote:

[2019-04-10 06:34] nmercuro commented on #39
I downloaded 0.4.7 to see if it's much better. It seems  about the same, so I'm thinking it's probably just the keyboard vs the app. It's hardt o tell exactly what's  happening to see what could be implemented to make Unshaky more effective. Here's the raw output of my keyboard  whiel typing, along with the log. I only have unshaky enabled  for T and Space since those are the main keys that seme t

[2019-04-10 07:08] aahung commented on #39
Seems Unshaky is working in the expected condition for the log you provide. To be honest I don’t know what to look for in your case. The event tapping is obviously on. Maybe in your case Unshaky cannot receive keyboard events properly due to some software conflicts?

[2019-04-10 18:14] nmercuro commented on #39
It's possible. Anything you can think of that might conflict? It's also possible my keyboard is just a total loss and I need to send it to Apple for a week to replace.
On Apr 10, 2019, 00:08 -0700, _sam <notifications@github.com>, wrote:

[2019-04-11 22:17] nmercuro commented on #39
I've been trying to log a bit more to try and understand what's going on. It seems like based on he log, sometimes they keypresses are out of order? Like the logging or key capture can't keep up with the typing?

For example:

In this string, I typed "Before we". But you can see that the sequence of letters is the following: b press, b release, e press, e release, f press, f release, o press, r pr

[2019-04-12 00:04] aahung commented on #39
The "out of order presses" scenario you mentioned above is what actually happens when you types. when you press down a key, let's say "w", "w" will be registered, and if you type very fast, you are very likely to press down another key, let's say "e", before you release "w". This is totally normal and you will end up typing "we" as a result, because "pressing" is where macOS register your typing.

[2019-04-12 00:09] aahung commented on #39
Unshaky treats each key separately and key A's press/release won't affect key B's handling.

Unshaky does not listen. It register a handler to macOS's session event loop. When you press a key, macOS will call the handler to decide whether to block it or not.

[2019-04-12 00:21] aahung commented on #39
@nmercuro I also looked into your log but without flagging which key presses "should be but was not blocked", not much I can do to find a pattern. :-(

[2019-04-12 00:51] #47 closed

[2019-04-12 07:37] nmercuro commented on #39
I see. I guess what I'm seeing is that sometimes I'll press a key and it registers the space, but then registers the release of the first key and the erroneous space comes in later, so it looks like it's ignoring the second space because there's another keypress in between. Really though, the sequence of the keys is press "e" press "space".

I'll try to do some more logging where I capture the log

[2019-04-12 15:38] aahung commented on #39
@aahung yeah and I can see you already enlarge the delay of space to 60ms. If we can find some extra pattern among your space events we might be able to implement some extra mechanism to counteract it. Otherwise keep enlarging delay of space could alleviate this problem but will block some false positives.

[2019-04-12 15:59] nmercuro commented on #39
Yes, I was playing with the delay; but it doesn't seem like it helps much. And I type so fast that anything above about 45-50 on the space bar results in the opposite problem of blocking intentional spaces.
On Apr 12, 2019, 08:38 -0700, _sam <notifications@github.com>, wrote:

[2019-04-13 11:50] Kapeli opened #58 "Interferes with Dash snippet expansion"
This is related to https://github.com/aahung/Unshaky/issues/54, feel free to close it and handle it as a duplicate.

Dash sometimes relies on sending keystroke events repeatedly when expanding snippets. These events are only backspaces and arrow keys.

When these events happen, the pasteboard has the "org.nspasteboard.TransientType" maker (see http://nspasteboard.org). Could you maybe check the pa

[2019-04-14 07:45] aahung commented on #58
Hey @Kapeli thanks for the insight related to #54. Can you elaborate it a little more? When you trigger the expansion, does Dash send `N * backspaces` and simulate the typing of another string very quickly? When is the pasteboard set with "org.nspasteboard.TransientType" maker? And will the marker be deleted when expansion complete?

[2019-04-15 07:20] Kapeli commented on #58
Dash only sends backspaces and arrow keys. It doesn't simulate typing the string. This only happens in non-accessible apps (e.g. Sublime Text). In accessible apps snippet expansion doesn't require any key presses.

The marker is set right before Dash starts expanding the snippet and gets deleted after expansion completes. You can also set it up so that you only disable Unshaky for ~2-3 seconds of

[2019-04-15 14:24] Zandor300 commented on #43
+1

[2019-04-15 14:36] Zandor300 opened #59 "Update checking broken"
**Describe the bug**
When checking for updates, it says it's up-to-date while it isn't:
<img width="1028" alt="image" src="https://user-images.githubusercontent.com/6069593/56140969-3299fc00-5f9c-11e9-8ccc-ffbda383fd34.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Click Check for updates from the menubar menu.

**Expected behavior**
It should say there is an update available. 0.4.8 i

[2019-04-16 15:12] valepert opened #60 "Italian language translation"
**Language** Italian

**Can you help with the translation?**
(Yes/No) Yes

[2019-04-16 18:04] GoncaloCdM opened #61 "Portuguese (Portugal) Translations"
**Language**
Portuguese (Portugal)

**Can you help with the translation?**
Yes

[2019-04-17 13:03] fedor1991 opened #62 "Unshaky with Punto Swithcer cause space bar deleting"
I use [Punto Switcher](https://yandex.ru/soft/punto/) because I have 2 keyboard layouts. This application helps me by hotkey change keyboard layout of the latest word, like from en to ru and otherwise. Very convenient if you forgot to change the layout. I have 60ms in Unshaky for spacebar and it deletes spacebar after when I'm using Punto. Only spacebar, with others everything is fine. It's not a

[2019-04-17 13:36] jadraker opened #63 "Spanish translation"
**Language**
Spanish.

**Can you help with the translation?**
(Yes/No)
Yes.

[2019-04-17 14:05] MarcoCarnevali commented on #60
I'm available too

[2019-04-17 21:17] SmilinBrian commented on #25
The type of event tap Unshaky uses is subject to Secure Event Input which Apple turns on for *all* password fields. That is, Secure Event Input is enabled for the password field on the lock screen as well as being enabled in password fields in web forms. The intent is to secure your passwords against any possible malicious key event tapping software. Getting around this would require a serious cha

[2019-04-17 21:24] delissonjunio opened #64 "Portuguese (Brazil) translation"
**Language**
Portuguese (Brazil)

**Can you help with the translation?**
Yes

[2019-04-19 00:01] aahung commented on #59
@Zandor300 Thanks, it turns out I forgot to update the feed.

[2019-04-19 00:01] #59 closed

[2019-04-19 00:22] aahung commented on #58
@Kapeli I think it is feasible. I looked around and there does not seem to be a passive way to detect the occurrence of such marker.

And another workaround is when Unshaky is about to dismiss a key, it checks the pasteboard. But it will have a hit on CPU. Do you think we can build a channel, and when Dash is going to expand something, to disable Unshaky temporarily? (e.g., let Unshaky handle some

[2019-04-19 01:37] aahung commented on #60
Hi @valepert @MarcoCarnevali  thanks for your interest. A branch named "lang/it" has been created and you can see 4 string files in "it.lproj"

For each file you will see several "some identifier here" = "some text in English here"; and only "some text in English here" part need translation. Besides, /* ... */ are comments and they don't need translation.

Thanks!

[2019-04-19 01:40] aahung commented on #61
Hi @GoncaloCdM  thanks for your interest. A branch named "lang/pt-PT" has been created and you can see 4 string files in "pt-PT.lproj"

For each file you will see several "some identifier here" = "some text in English here"; and only "some text in English here" part need translation. Besides, /* ... */ are comments and they don't need translation.

Thanks!

[2019-04-19 01:42] aahung commented on #63
@jadraker thanks for your interest. Which of the below should I choose?

- Spanish (es)
- Spanish (Latin America) (es-419)

[2019-04-19 01:44] aahung commented on #64
Hi @delissonjunio   thanks for your interest. A branch named "lang/pt-BR" has been created and you can see 4 string files in "pt-BR.lproj"

For each file you will see several "some identifier here" = "some text in English here"; and only "some text in English here" part need translation. Besides, /* ... */ are comments and they don't need translation.

Thanks!

[2019-04-19 01:51] aahung commented on #62
Can you use the Unshaky's debug window to capture the events? Also, can you try to turn on "ignore external keyboard" in configuration. Maybe the key events sent by Punto Switcher is not associated with the internal keyboard.

[2019-04-19 01:53] aahung commented on #58
@Kapeli I also have another idea. I just wonder if it is possible to send the key event with a different `keyboardType` other than `58/59`, then it is very easy for Unshaky to whitelist Dash.

https://github.com/aahung/Unshaky/blob/master/Unshaky/ShakyPressPreventer.m#L105

[2019-04-19 02:00] aahung commented on #25
I just experimented myself and it is true. Never found that out, thanks for the info! @SmilinBrian

[2019-04-19 14:02] Kapeli commented on #58
That would be great and easy to add on my end. Any idea what keyboard type should I use? They don't seem to be documented anywhere.

[2019-04-19 14:06] tbradsha opened #65 "Keeweb auto-expansion skips letters"
**Describe the bug**
Keeweb (a password manager) has a shortcut that auto-fills usernames/passwords into fields, but this process omits letters when Unshaky is enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a username/password in Keeweb.
2. Navigate to that account login page in a browser.
3. Press Ctl-Option-T to trigger auto-fill.
4. See missing letters, resulting in a failed

[2019-04-19 15:00] GoncaloCdM commented on #61
Translations completed.

[2019-04-19 15:00] #61 closed

[2019-04-20 05:55] aahung commented on #58
@Kapeli Can you give me some sample codes that send those keyboard events? so that I can play with it.

[2019-04-20 06:06] aahung commented on #54
@martisj the solution I found is to disable Unshaky for the `Delete` key...

[2019-04-20 06:31] aahung commented on #58
@Kapeli if you are using `CGEventCreateKeyboardEvent()` to create keyboard event, you can use

[`setIntegerValueField(_:value:)`](https://developer.apple.com/documentation/coregraphics/cgevent/1455556-setintegervaluefield) to set `kCGKeyboardEventKeyboardType` to something other than 58 or 59.

[2019-04-20 09:12] Kapeli commented on #58
Yep, I'm using `CGEventCreateKeyboardEvent`. I was asking what I should set `kCGKeyboardEventKeyboardType` to, since the actual values aren't documented anywhere. I'll experiment with it.

[2019-04-20 10:33] aahung commented on #58
Oh. I didn’t find any documents either. 58 is for 16-17 and 59 is 2018 models according to users’ reports

[2019-04-20 12:26] aahung commented on #54
I found another workaround, and it should work when Alfred's "simulated key event speed" set to "Fastest". Will release this version soon.

[2019-04-20 12:46] aahung commented on #65
From I can tell from the [Keeweb's source code](https://github.com/keeweb/keeweb/blob/26d6844b65e78217d3b3eb6cfa4ed5e226404320/helper/darwin/src/KeeWebHelper/InputCommands/SendTextCommand.m#L30), it simulates the press of password in a very short time. I think [this commit](https://github.com/aahung/Unshaky/commit/dfa2b96748c918fb15453da9829783f1e4d37615) can ignore such press sequence. Please try

[2019-04-20 12:48] aahung commented on #58
@Kapeli If Dash sends all those events within 5ms, v0.5.0 will ignore them. Maybe it is enough to resolve the conflict.

[2019-04-20 12:54] #60 closed

[2019-04-20 13:59] tbradsha commented on #65
Looks like that did it for me!

[2019-04-20 14:00] aahung commented on #65
great!

[2019-04-20 14:00] #65 closed

[2019-04-21 18:15] jadraker commented on #63
Hi,
Spanish Latin America es-419.

[2019-04-22 00:36] aahung commented on #63
Hi @jadraker  thanks for your interest. A branch named "lang/es-149" has been created and you can see 4 string files in es-149.lproj

For each file you will see several "some identifier here" = "some text in English here"; and only "some text in English here" part need translation. Besides, /* ... */ are comments and they don't need translation.

Thanks!

[2019-04-22 04:23] aahung commented on #62
possible duplicate with #54

[2019-04-22 05:48] elmotan95 opened #70 "Indonesian Translation"
**Language**
Indonesian

**Can you help with the translation?**
Yes

[2019-04-22 06:10] aahung commented on #70
Hi @elmotan95 thanks for your interest. A branch named "lang/id" has been created and you can see 4 string files in id.lproj

For each file you will see several "some identifier here" = "some text in English here"; and only "some text in English here" part need translation. Besides, /* ... */ are comments and they don't need translation.

Thanks!

[2019-04-22 20:01] jadraker commented on #63
Hi @aahung,
Please tell me if I translated the first file as it should: https://github.com/aahung/Unshaky/compare/lang/es-419...jadraker:patch-1.

Thank you and congratulations for this software. I hope 2019 and future Mac implement a butterfly or another more reliable keyboard. I've had two MBP 2018 with same problems.

[2019-04-22 23:19] aahung commented on #63
Translation seems good, just need it to the line below. For example, line 3 instead of line 2. Line 2 is actually just comment and you can leave it there.

So annoying you have two Mac being affected ...

[2019-04-23 03:14] jadraker commented on #63
Hi @aahung,
The 4 files you requested were translated into Spanish LA.
Please tell me if it's okay (I translated the 4 files again correcting the problem with the comments).
What are the following steps to see this translation go live? :)

Thank you.

[2019-04-23 18:15] mahmai opened #73 "Escaping the delayed character"
A keystroke for a delayed key is not being sent after a non delay key is pressed.

For Example As my 'e' key is very sensitive It woks fine when delayed for say 250ms and if I want to type 'eye', only 'ey' is being typed. I think there is no mechanism where you make a reset for the timer if another key is pressed. I think the issue is the keystoke 'e', is still being delayed even is I typed 'y' af

[2019-04-24 00:03] aahung commented on #63
Thanks! Did you create a pull request?
I will test it a bit to ensure the UI looks good, and it will go live in the next version.

[2019-04-24 00:22] aahung commented on #73
That’s the intended behavior. The figure below might be able to illustrate it.
![IMG_1697](https://user-images.githubusercontent.com/3804518/56624108-fb95ab80-6669-11e9-8d22-478ef490ce2a.png)

[2019-04-24 00:22] #73 closed

[2019-04-24 00:23] aahung commented on #73
250ms is too large a delay value, you can start with 50ms and increase it if needed.

[2019-04-24 00:27] #70 closed

[2019-04-24 09:10] aahung commented on #63
@jadraker I already merged your translation, there is nothing left for you to do. Thank you!

[2019-04-24 09:10] #63 closed

[2019-04-24 09:52] aahung commented on #58
@Kapeli does the new version have conflict with Dash?

[2019-04-24 10:08] siebrand opened #74 "Add localisation for Dutch (nl)"
Please add localisation for Dutch. I will submit the translated strings in a pull request. I don't know how to add the glue.

[2019-04-24 10:32] aahung commented on #74
Thanks! @siebrand don't worry leave it to me.

[2019-04-24 11:16] mahmai commented on #73
Oh. I see. But, I think mine is very sensitive and it sends multiple key stokes at once like 4 'e's or Something like that. I think it is beyond the control of a software. I may have to look for a hardware solution. Thank you!

[2019-04-24 11:19] aahung commented on #73
@mahmai try to turn on `aggressive mode` in setting. It might help with your case.

[2019-04-24 11:28] mahmai commented on #73
@aahung Will try that. Thanks Again

[2019-04-24 13:55] fedor1991 commented on #62
Here is when I wrote a word with space after and pressed Option (punto switcher hotkey):
[code]
And even if I press Option after word without spacebar after - I see in debug window that spacebar was pressed anyway (punto switcher bug?). So because of this Unshaky thinks that it's a double key press.

[2019-04-24 14:00] aahung commented on #62
so you expect all spaces are there right?

[2019-04-24 14:04] fedor1991 commented on #62
Yep, but I understand that it's not Unshaky issue.

[2019-04-24 14:06] aahung commented on #62
The two spaces are pretty close (< 8ms) and in the latest version of Unshaky, two presses are very close (< 5ms) will be whitelisted since it is likely to be other software-generated key presses. I might increase it to 10ms and it should fix your problem.

[code]

[2019-04-24 14:26] fedor1991 commented on #62
Sounds good, I can test it

[2019-04-24 21:19] Kapeli commented on #58
I'm able to replicate the issue with Unshaky 0.5.2. Seems to be the same as 0.4.8.

[2019-04-26 15:09] FemaleAutist commented on #43
I also think it'd be great to have individual key double press logs available! Would help fine tune the delays for different keys.

[2019-04-27 09:50] aahung commented on #43
It will be in the next release :D

![image](https://user-images.githubusercontent.com/3804518/56847927-db3d4980-6914-11e9-9e3e-ffc97963e1b8.png)

[2019-04-27 09:50] #43 closed

[2019-04-29 12:04] aahung commented on #58
@Kapeli

I download Dash and experimented myself, it looks like Dash sent "Delete" keys ~10ms after another. And the `keyboardType` is set to "58" on my MacBook Pro 2016. Wonder whether you have a sleep-for-10ms between two DELETE events? When I increase the threshold (mentioned above) to 15ms, Dash's expansion works 100% of the time.

[code]

[2019-04-29 19:00] Kapeli commented on #58
Yes, I have a delay between events. It's needed by some apps.

I'll experiment with setting a different `keyboardType` for the next Dash update. Not sure when I'll get to it though.

[2019-05-01 15:19] harveyjanson opened #77 "Translation into Chinese (Simplified)"
**Language**
Chinese (Simplified)

**Can you help with the translation?**
(Yes/No)
Yes

[2019-05-01 15:43] aahung commented on #77
Chinese localization is already done.

[2019-05-01 15:43] #77 closed

[2019-05-02 05:47] Mains13 opened #78 "Doesn't work on password field"
**Doesn't work on password field**
Unshaky works wonder for my MBP. But seems like it doesn't work when I try to key in my password on browser (password field).

**To Reproduce**
Steps to reproduce the behavior:
1. Open Chrome, go to 'any site that requires password'
2. Then enter your password in the password field
3. Boom!

**Expected behavior**
Unintentional double key entries keep happening

*

[2019-05-02 05:52] Mains13 commented on #78
Just found out this issue is the same as "Does not work on Lock screen", thanks

[2019-05-02 05:54] #78 closed

[2019-05-02 14:55] tbradsha commented on #65
After using the latest version for the last week or two, it seems to work most of the time, but not every time. Is there a way you can raise the ignore threshold slightly or perhaps allow the end user to do that?

[2019-05-02 16:25] Zandor300 commented on #65
You can modify the delay yourself in settings.

[2019-05-04 01:54] tbradsha commented on #65
I see we can modify the delay for each key, but I don't see a way to increase the AUTO_EXPANSION_IGNORE_THRESHOLD beyond 5ms in the settings?

[2019-05-04 02:05] tbradsha commented on #59
Same issue in 0.5.0 (0.5.2 is out now).

[2019-05-04 06:36] aahung commented on #74
Thanks!

[2019-05-04 06:36] #74 closed

[2019-05-04 06:38] aahung commented on #65
I will make it customizable later. It is a imperfect workaround :-(

[2019-05-04 06:41] aahung commented on #74
theat revert thing was my mistake...

[2019-05-04 06:42] siebrand commented on #74
I submitted a pull request to fix, and also updated the missing translations from the strings you added.

[2019-05-04 06:55] aahung commented on #59
@tbradsha updated, thanks!

[2019-05-04 06:57] aahung commented on #74
thank you @siebrand merged!

[2019-05-04 15:34] siebrand opened #80 "Localizable.strings "Paste Configuration here" not localized"
**Describe the bug**
In version 0.5.3, there is a translation present for Localizable.strings "Paste Configuration here" in Dutch (nl), but this is not visible in the UI. I'm not sure how to check if this may be the same in other languages. This particular string is also translated in Japanese and Korean.

**To Reproduce**
Steps to reproduce the behavior in a macOS with Dutch UI:
1. Go to 'Setting

[2019-05-04 18:07] Zandor300 opened #82 "Button size too small for some languages"
**Describe the bug**
The "Set" button in settings is too small for some languages, such as Dutch.

**To Reproduce**
- Start Unshaky with Dutch as the primary macOS language.
- Go into settings and look.

**Expected behavior**
Button text should be the same size as on English.

**Potential solution**
Making the button wider would solve this problem. The textfield doesn't have to be this big so maki

[2019-05-04 22:31] #80 closed

[2019-05-04 22:32] aahung commented on #80
Thank you @siebrand :D

[2019-05-05 19:27] dgraid opened #83 "Russian Language keyboard support..."
My macbook pro 2018 keyboard is also broken, but i use russian language, and can't setup the app to help me support my language.
I don't talk about app translation - english is ok.

Can you please add other languages (russian) support for your nice app?

[2019-05-06 07:43] aahung commented on #82
![image](https://user-images.githubusercontent.com/3804518/57212253-03255080-6f98-11e9-86d3-8ff4fd1d96ff.png)
is this better?

[2019-05-06 07:53] Zandor300 commented on #82
Yes thanks!

[2019-05-06 12:08] Zandor300 commented on #83
@aahung I don't know how you are specifying the keys, but maybe use macOS APIs to get keys for every keyboard layout supported in macOS? Maybe make it possible to set keys per keyboard layout and then get the settings for the current layout and those keycodes.

https://support.apple.com/en-us/HT201794
https://github.com/Clipy/Sauce
https://stackoverflow.com/questions/3202629/where-can-i-find-a-lis

[2019-05-06 21:08] aahung commented on #82
:D

[2019-05-06 21:08] #82 closed

[2019-05-06 21:21] aahung commented on #83
Thanks for the links. I explored a little bit more and found an API that might help to [translate key code to string supporting different keyboard layouts](https://developer.apple.com/documentation/coreservices/1390584-uckeytranslate?language=objc). However, it is using Carbon and it is expected not to run on next version of macOS (several months later). I am probably just hardcode the strings int

[2019-05-06 21:26] Zandor300 commented on #83
You could just loop through all `UInt16`'s on the Russian keyboard layout using that function (`UCKeyTranslate`) and then hardcode the output?

[2019-05-06 21:28] dgraid commented on #83
Sorry, i checked, i think it works!! i just switched language and tested the buttons = it works in russian buttons!! Thank you so much!!!

[2019-05-06 21:29] Zandor300 commented on #83
Wut?

[2019-05-06 21:29] dgraid commented on #83
My issue is ok, no problem

[2019-05-06 21:39] aahung commented on #83
I am gonna re-open this issue because Russian characters are not displayed in Preference panel after all.

I manually typed these keys with Russian virtual keyboard and get this, are these all the difference between a US keyboard and a Russian keyboard?

[code]

[2019-05-06 22:51] dgraid commented on #83
Yes that is!

[2019-05-08 21:41] aahung commented on #83
@dgraid Can you go to debug window and verify the keyboard code for `]` is 50? key code is the second number enclosed by parenthesis "()"

[code]

Since I found the virtual keyboard (provided by macOS) is not the same as I found on [Apple website](https://support.apple.com/en-us/HT201794):

![image](https://user-images.githubusercontent.com/3804518/57410343-659c6d80-719f-11e9-9335-dcd3c441a8ea.png

[2019-05-09 08:46] Saxintosh opened #84 "List of problematic keys"
What about a log of the keys that have been fixed?
To find out which keys may require cleaning or which are more defective.

[2019-05-09 13:56] dgraid commented on #83
1557410095.592396 Key( 59| 30|  RightBracket|         0| 40) E(10)
1557410095.693385 Key( 59| 30|  RightBracket|         0| 40) E(11)

[2019-05-10 07:52] Zandor300 commented on #84
Do you mean; a list of keys that might require the user to set up unshaky for? So actually double press detection on all keys but instead of blocking, log that that key might require blocking to inform the user and give feedback on their configuration?

[2019-05-10 08:01] Saxintosh commented on #84
Just a kind of statistic that lets you know which double press have been detected and fixed.
For example, I know that I have problems with 'enter', 'm', 'd' and 'del' keys. Probably also 'space' key.
I don't know if I have other problematics keys and I don't know which keys are most frequently fixed.

[2019-05-13 18:23] jtheletter opened #85 "Could a similar solution be found for keys that don't register presses?"
This app has been surprisingly useful in preventing my brand-new MacBook keyboard's doubling of keypresses, and I thank you for that. Apple is a joke lately.

I wonder if a similar approach could solve my left-side command key that barely registers keypresses? I need to slam it or press it perfectly center to register, and this is arguably the key I use the most.

Thank you.

[2019-05-13 21:58] aahung commented on #84
Usually people uses Unshaky the other way around.

1. they discovered some key has double-press issue
2. Configure delays for that key

So you don't have to configure delays for keys that are fine.

For the statistics, you can click the first menu item to see how many times Unshaky blocks each key with delays configured.

[2019-05-13 21:59] aahung commented on #85
Unfortunately, that is beyond a software solution since there won't be any signals to work with.

[2019-05-13 21:59] #85 closed

[2019-05-14 00:07] Saxintosh commented on #84
Hi aahung,
the "other way around" is fine and is the same way that I use.

But usually, when you realize you have a keyboard problem and find out you can use Unshaky, you install it as soon as possible. Then you can't tell which keys have a problem. The application works beautifully and that's it!

Later, it would be useful to know which keys have problems for two reasons:
1- you might want to try

[2019-05-14 18:23] aahung commented on #84
:D

I think might have configured delays for all keys as a precaution. In that case, there is a statistics view (open by click "Prevent shaky presses * times) showing each key's suspect double press count. It does not necessarily indicate the ground truth, but only defective keys are likely to have positive counts.

Hope it works for you!

[2019-05-14 18:36] Saxintosh commented on #84
"Dismissed x shaky presses"
wow!!! It's exactly the statistical page that I was looking for!!!
Thanks!
I've never thought of clicking on that menu item... I thought it was just an information line, but it opens the statistics window!
:-D
Perfect!!!

[2019-05-14 18:38] aahung commented on #84
@Saxintosh whether it is truly defective still need your own judgement though. :las

[2019-05-14 18:38] aahung commented on #84
u

[2019-05-14 18:38] #84 closed

[2019-05-14 18:41] Saxintosh commented on #84
Maybe you could change the name of that menu item... "Statistics" seems perfect :-D :-D

[2019-05-14 18:48] aahung commented on #84
Maybe putting a little ℹ️ button after "dismissed..." is adequate.

[2019-05-21 19:40] jeffreytigch opened #86 "Set Unshaky in read-only mode"
**Is your feature request related to a problem? Please describe.**
Now Apple has extended their keyboard repair program, I would like to know if and when unintentional keys are being hit or missed.

**Describe the solution you'd like**
A switch, where I can disable Unshaky's assistance, but keep the info Unshaky gathered. In an ideal situation, I would be able to get a log with which button had an

[2019-05-21 19:54] aahung commented on #86
Unshaky already provides troubleshooting information, labelling events as "DISMISSED" in the log, which is a symptom of defective keys. If you want to have an overview, click the "Dismissed X shaky key presses".

[2019-05-21 20:46] jeffreytigch commented on #86
I get that, but the debug window isn't always open. It can troubleshoot just fine when trying live, but it doesn't build an history of occurrences.

f I would look into my use case, my keyboard is already replaced, and I would like to monitor if this happens again. The counter can't be reset at the moment and opening the debugging window for the next year isn't really an ideal solution for that.

[2019-05-21 20:50] aahung commented on #86
Oh kind of understood what you try to do.

Unshaky does have a counter for individual key, does it provide the info you need?

There is a reset button in the aforementioned statistic window, which can be opened by clicking Unshaky's first menu item "Dismissed X shaky presses"

[2019-05-21 21:02] jeffreytigch commented on #86
I never realised the "Dismissed X shaky presses" is clickable. Does what I currently need. Thanks for the info! You could keep this issue open if you want to, but my question/request is answered.

[2019-05-21 21:57] aahung commented on #86
@jeffreytigch you are not the first one getting confused, I probably need to make some UI changes  see #84

[2019-05-21 21:57] #86 closed

[2019-05-21 22:14] aahung commented on #84
I made it "☚ Dismissed x shaky presses...", hope it is enough to indicate its click-ability. Let's see. :D

[2019-05-21 22:15] Saxintosh commented on #84
I think it's perfect! :-)

[2019-05-21 22:21] #83 closed

[2019-05-24 07:14] siebrand commented on #80
Confirmed fixed in 0.5.4.

[2019-05-25 15:55] hazar-e opened #87 "Turkish keyboard support"
Unshaky 0.5.4 - Macbook Pro 2016 touchbar

I can't assign some turkish keys. for example (Ü, Ö Ç). Will it be compatible with all keyboard types in the future ?
here is my keyboard

<img width="733" alt="Ekran Resmi 2019-05-25 18 42 35" src="https://user-images.githubusercontent.com/36481442/58371901-99f18700-7f1e-11e9-90ea-3718eb0c7b9a.png">

[2019-05-26 19:45] aahung commented on #87
I guess I just add the layout one by one when someone request it.

[2019-05-26 19:45] #87 closed

[2019-06-03 12:31] dfdy opened #88 "Has Apple fixed this?"
**Describe the bug**
This is not a bug report, but a request for confirmation/information.

Some time in the last month or two the keyboard on my MBP 13" Touch Bar (mid 2018) - which had gotten quite bad - stopped having any repeating keys!! I did not notice the change right away, since Unshaky usually does a great job of preventing repeat keys. I finally have a period when I can take my MBP in fo

[2019-06-03 13:27] Zandor300 commented on #88
I believe your MacBook falls under the free repair program. You can create an appointment on the Apple Support site for free. I went into the Apple Store and they cleaned out my worst keys for free as a service and now the double press occurrence has greatly been reduced.

The service program is only valid for the 4 years after the purchase date. Your entire top chassis will be replaced if you go

[2019-06-03 14:17] dfdy commented on #88
Hi. I am actually looking for anyone to confirm whether or not Apple have implemented a software fix as I have 0 dismissed keys now, and I used to have a few hundred per day in the past.

(I will look into the 4-year free repair program, however I do not believe Apple will have this in my country, South Africa).

[2019-06-03 14:28] Zandor300 commented on #88
Here is the Keyboard Repair Program page, you can check for yourself:
https://www.apple.com/support/keyboard-service-program-for-mac-notebooks/

Regarding the original topic: I just checked an I was running 10.14.5 (18F132) even before the cleaning by Apple on my keyboard. For the record; I'm still seeing double presses and before the cleaning even experienced rare quadruple presses.

[2019-06-03 21:41] aahung commented on #88
@dfdy I am not sure. It is not likely since I don't see any news. The keyboard itself is unstable, yours could possibly fix itself somehow :-D

[2019-06-03 21:48] aahung commented on #88
@Zandor300 not sure if "for free once" is a practice for all apple store. I think (hopefully) they will fix it when we have the problem again. replacing the top case has a bonus new battery, which I really appreciate

[2019-06-04 09:21] domcorvasce commented on #88
Nope, Apple has not corrected the problem via software (I, too, own a MBP 2018).
I hope the 4th generation keyboard is going to fix all the issues, but the reality seems more pessimistic.

I see some issues with Apple releasing an official substitute to Unshaky, directly in macOS:

- everyone types at a different speed, they wouldn't able to hide the software because users would need a menu to con

[2019-06-04 09:26] domcorvasce opened #89 "Updater doesn't find the new release (5.5)"
**Describe the bug**

Whenever I check for updates, Unshaky tells me that I am using the latest version (5.4) but from the releases section I see that 5.5 is available.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Check for updates...'

**Expected behavior**
It should upgrade itself.

**Screenshots**
The screenshot is in Italian, but you could easily guess what it is saying!

<img

[2019-06-05 04:20] aahung commented on #89
@domcorvasce thanks for reporting this. The change v0.5.5 does not bring any functional changes and I don't want to spam existing users (only 5 days after v0.5.4) so I made that release quiet.

[2019-06-05 09:00] domcorvasce commented on #89
Ok, my bad then, sorry.

[2019-06-05 09:04] aahung commented on #89
@domcorvasce oh no, please don't feel it that way, thanks for looking out for me. I should have labelled the release as "non-auto-update-release" (I just did it). :-D

[2019-06-05 09:04] #89 closed

[2019-06-05 09:06] aahung commented on #88
@domcorvasce thanks for sharing your experience. I am gonna close this issue.

[2019-06-05 09:06] #88 closed

[2019-06-05 19:07] aahung commented on #31
Re-open if necessary.

[2019-06-05 19:07] #31 closed

[2019-06-05 19:09] aahung commented on #62
@fedor1991 did it work>?

[2019-06-05 19:21] fedor1991 commented on #62
@aahung not very, it works in 30% cases, example when it was false positive
`
1559762189.880007 Key( 40| 49|         Space|         0| 40) E(10)
1559762189.958238 Key( 40| 49|         Space|         0| 40) E(11)
1559762192.689738 Key( 58| 49|         Space|         0| 40) E(10)
1559762192.691964 Key( 58| 49|         Space|         0| 40) E(11)
1559762192.699074 Key( 58| 49|         Space|

[2019-06-05 19:25] aahung commented on #62
looks like that workaround did not work well since the interval is not consistent...

[2019-06-06 09:13] gaohuia opened #90 "Disable touch bar when typing"
**Problem**
I always touch the Touch Bar by accident when I was coding (fast typing).

**Solution**
Temporarily disable the TouchBar when typing, re-enable it when typing stops.

If no key was pressed for a period of time, we can consider the typing has stopped.

**Describe alternatives you've considered**
I just removed all the icons on TouchBar and press "fn" to show them.

[2019-06-11 23:49] aahung commented on #90
@gaohuia I don't think it is some feature Unshaky should include. If you want to find a way to disable Touch Bar, this repo [TouchBarDisabler](https://github.com/Danesz/TouchBarDisabler) might help.

[2019-06-11 23:49] #90 closed

[2019-06-11 23:51] aahung commented on #44
[this post](https://www.dell.com/community/Laptops-General-Read-Only/Keyboard-debouncing-utility-Solution-workaround-for-key-bounce/td-p/3487933) might help.

[2019-06-11 23:51] #44 closed

[2019-06-12 05:14] githmw commented on #44
The links to KeybounceFilter no longer exist. AutoHotKey still exists, and there is some code for KeybounceFilter on on the AutoHotKey site. But I am no programmer, so have no idea how to use that code. Any suggestions or alternatives?

Harry

[2019-06-14 07:25] runar opened #91 "Norwegian translation"
**Language**
Norwegian (Bokmål)

**Can you help with the translation?**
Yes

[2019-06-15 02:05] aahung commented on #91
Hi @runar thanks for your interest. A branch named "lang/nb" has been created and you can see 4 string files in "nb.lproj"

For each file you will see several "some identifier here" = "some text in English here"; and only "some text in English here" part need translation. Besides, /* ... */ are comments and they don't need translation.

Thanks!

[2019-06-15 02:07] aahung commented on #64
Branch "lang/pt-BR" is out of sync with master branch. Close it for now.

[2019-06-15 02:07] #64 closed

[2019-06-17 15:04] delissonjunio commented on #64
Hi @aahung sorry I never followed up on here, did not get the notification at the time and forgot about it. Can you recreate that branch again? Thanks!

[2019-06-17 19:11] aahung commented on #64
@delissonjunio great to hear back from you! I have recreated the branch with the latest string files.

[2019-06-18 11:01] ymolodtsov commented on #42
I'm on the latest build of Mohave and have the same bug.

[2019-06-20 04:39] delissonjunio commented on #64
@aahung changes are made and the branch is pushed, should I just open a PR now?

[2019-06-20 06:46] aahung commented on #64
@delissonjunio yeah plz. thx

[2019-06-20 19:11] aahung commented on #42
@ymolodtsov it is not supposed to occur in Mojave. Have you configured the delays before trying the debug window?

[2019-06-21 06:24] ymolodtsov commented on #42
I did. In fact it started working after the restart.

On Thu, Jun 20, 2019 at 10:11 PM _sam <notifications@github.com> wrote:

--

YM

[2019-06-25 13:43] bobodrone opened #93 "Swedish translation"
**Language**
Swedish

**Can you help with the translation?**
Yes

[2019-06-25 21:39] aahung commented on #93
Hi @bobodrone thanks for your interest. A branch named "lang/sv" has been created and you can see 5 string files in "sv.lproj"

For each file you will see several "some identifier here" = "some text in English here"; and only "some text in English here" part need translation. Besides, /* ... */ are comments and they don't need translation.

When you done, just create a PR.

Thanks!

[2019-06-26 07:39] ShadowJoker commented on #8
I’m hoping to add "Shift" to Unshaky +1
I'm a Chinese developer.  For me and many chinese developer,  "Shift" is a convenience way to switch between English input mode and Chinese input mode.
When the "Shift" double click happened, something weird will happen.  For example, when I want to input a capital letter "A", I press "Shift+A", but shift double click make me switch to the Chinese input firs

[2019-06-26 08:32] aahung commented on #8
@ShadowJoker supporting modifier keys requires fundamental changes to how Unshaky works.

- From: only dismiss subsequent key presses.
- To: postpone all key-up events and only release when there is no follow-up key-down

I need to figure out a way to implement this with minimal CPU usage.

[2019-06-26 16:50] Bradley-Walsh opened #94 "Highlight menubar icon on shaky dismissal"
Hi, I had one quick and (presumably) easily implementable addition to Unshaky I was wondering if you could add: Is there any way you could make the menubar icon highlight or light up when a shaky press is dismissed? It would be much easier to keep track of how often it happens while typing if so, rather than having to check by clicking the icon periodically. I’m only in the beginning stages of lea

[2019-06-28 12:13] saeid592 opened #95 "Swedish"
**Language**
Swedish

**Can you help with the translation?**
Yes

[2019-06-28 12:18] aahung commented on #95
Hi @saeid592  thanks for your interest. A branch named "lang/sv" has been created and you can see 5 string files in "sv.lproj"

For each file you will see several "some identifier here" = "some text in English here"; and only "some text in English here" part need translation. Besides, /* ... */ are comments and they don't need translation.

When you done, just create a PR.

Thanks!

[2019-06-28 15:39] jlhirond commented on #39
WORKAROUND
I've been encountering this issue for several months. I'll notice double spaces show up in typing, and test that it is not working at all with a 1000ms delay. I've determined a workaround for making it work again which has been 100% effective for me is to put my MacBook to sleep, and wake it up again. Note that just restarting the service is typically ineffective, while the sleep method

[2019-06-29 00:07] aahung commented on #94
It is a cool suggestion, but from a user experience perspective, if every time a key is dismissed the icon blinks, it is distracting. The Unshaky is designed to make the problem disappear and user doesn’t have to worry about it.

[2019-06-30 01:59] #91 closed

[2019-06-30 12:17] trevormeier opened #97 "Enable only for external keyboard"
I have an external, foldable BT keyboard that's great for portability and raising my laptop with a stand, but occasionally it sends double keypresses inadvertently. I tried out Unshaky and it works great with this external keyboard! However, I have no issues (knock on wood) with my 2018 MBP keyboard, and Unshaky occasionally deletes intentional double keypresses when using it (I can type much fast

[2019-06-30 12:28] trevormeier commented on #97
If this isn't straightforward, another possibility would be an assignable keyboard shortcut to quickly turn Unshaky on & off.

[2019-07-01 08:18] martisj commented on #54
Thank you so much for looking into and fixing this issue!

[2019-07-01 21:29] #54 closed

[2019-07-04 19:07] alireza12t opened #98 "Persian Translation"
**Language**
Persian/Farsi

**Can you help with the translation?** Yes
(Yes/No)

[2019-07-04 20:08] aahung commented on #98
Hi @Alireza12s thanks for your interest. A branch named "lang/fa" has been created and you can see 5 string files in "fa.lproj"

For each file you will see several "some identifier here" = "some text in English here"; and only "some text in English here" part need translation. Besides, /* ... */ are comments and they don't need translation.

When you done, just create a PR.

Thanks!

[2019-07-10 08:47] ramyareye opened #99 "Have Unshaky as a faceless app"
Hey, thanks for your awesome package :) I'm writing well now.
I'm happy to use your app but is it possible to have it in faceless mode ? I mean possible to remove the icon from top bar ?

Regards

[2019-07-10 08:55] aahung commented on #99
Glad it works for you.

See the article here for hiding task bar item

https://github.com/aahung/Unshaky/wiki/How-to-hide-Unshaky-from-status-bar

[2019-07-10 13:46] #99 closed

[2019-07-24 19:42] username0x0a opened #100 "Czech & Slovak translation"
**Language**
Czech & Slovak

**Can you help with the translation?**
Yes, sure! 👍

[2019-07-25 06:32] aahung commented on #100
Hi @michalzelinka  thanks for your interest. A branch named "lang/cs" has been created and you can see 5 string files in "cs.lproj", same goes for "lang/sk"

For each file you will see several "some identifier here" = "some text in English here"; and only "some text in English here" part need translation. Besides, /* ... */ are comments and they don't need translation.

When you done, just create

[2019-07-26 05:15] aahung commented on #100
@username0x0a thank you so much for your contributions to make Unshaky accessible to more people. And sorry I seemed to at the wrong person above...

[2019-07-26 05:15] #100 closed

[2019-07-30 08:18] norbert05 opened #106 "Hungarian translation"
**Language**
Hungarian

**Can you help with the translation?**
(Yes/No)

[2019-07-30 21:32] niksawtschuk commented on #97
Ironically, I have the inverse issue of #14, i.e. my built-in keyboard works perfectly and my external USB keyboard frequently sends duplicated keypresses for a specific key.

So 👍 on this for me.

[2019-07-31 21:34] aahung commented on #106
Hi @norbert05  thanks for your interest. A branch named "lang/hu" has been created and you can see 5 string files in "hu.lproj"

For each file you will see several "some identifier here" = "some text in English here"; and only "some text in English here" part need translation. Besides, /* ... */ are comments and they don't need translation.

When you done, just create a PR.

Thanks!

[2019-07-31 21:38] aahung commented on #98
Hi @Alireza12s just wanna check with you. Are you still gonna translate the last file [Localizable.strings](https://github.com/aahung/Unshaky/blob/lang/fa/Unshaky/fa.lproj/Localizable.strings)? Thanks!

[2019-08-01 04:50] Alireza12s commented on #98
Yes it’s a bit harder i’ll do it

[2019-08-02 13:58] mickaphd opened #110 "Stop working after a few times"
I use this app from a  long time now and I  just noticed (maybe from the last update) that after a few times Unshaky stop working. The app is still running but I still have the  keyboard problems and the debug  window do not display anything. I was able to make it work again after using Onyx but again, still not working after a few minutes. No idea if it's coming  from my  mac or the app.
PS: sorr

[2019-08-04 06:42] aahung commented on #110
Does an old version also have this issue? Can you try a older version?

[2019-08-06 00:41] blazeblazeblaze opened #111 "Polish translation"
**Language**
Polish

**Can you help with the translation?**
Yes

[2019-08-06 13:11] youshy commented on #111
If there's a need for extra help - you can count on me @blazeblazeblaze

[2019-08-06 14:19] Zandor300 commented on #110
Bug might have been introduced in version 0.5.4. Not later since no changes were made to the core logic of Unshaky since that version.

In 0.5.4, alternative keyboard layouts were added:
https://github.com/aahung/Unshaky/compare/v0.5.3...v0.5.4

[2019-08-06 14:50] kkukshtel opened #112 "Support in Homebrew/Homebrew Cask"
**Is your feature request related to a problem? Please describe.**
Would love to easily deploy this to many computers without needing to download the .app on each one.

**Describe the solution you'd like**
Would love install to be as easy as `brew install unshaky`

[2019-08-06 15:52] mickaphd commented on #110
I completely uninstall the 0.5.6 to reinstall the previous one and update again (after restart, cache cleaning etc.). It seems working now so I have no explanations. Maybe a bug from my mac.. You can close the issue and just wait for similar feedbacks maybe

[2019-08-06 21:53] mickaphd commented on #110
Damn it's not working anymore...! I really  don't get it..

[2019-08-06 21:56] aahung commented on #110
@Zandor300 can you confirm all versions since 0.5.4 do not work anymore?

@mickaphd so you are using the latest 0.5.6 and nothing shows up in the debug window? What OS version are u on now?

[2019-08-06 21:58] aahung commented on #112
Great idea, thanks for suggesting that

[2019-08-06 21:59] mickaphd commented on #110
I use  the last Mojave version (10.14.6).
I have the  lastest yes but even when I downgraded to the previous one at a certain  point it was not  working anymore. And yes when I feel  it's not working anymore like right now nothing appear in the debug window

[2019-08-06 22:02] aahung commented on #110
@mickaphd Can you quickly try to set the delay for all (use the special input field below the table in Unshaky preference) to a large delay like 200 ms, to make sure it is not a delay configuration problem?

[2019-08-06 22:02] Zandor300 commented on #110
@aahung I personally didn’t experience/notice this bug. I was just looking up what might be the issue.

[2019-08-06 22:04] aahung commented on #110
@Zandor300 thanks for looking out. I hope it is not a widespread issue

[2019-08-06 22:13] mickaphd commented on #110
It  doesn't change anything. Do you know guys another  similar app/program?  I don't  wanna change for sure,  just  to  see if it's coming from my  computer and not Unshaky. Still thanks much for your help!

[2019-08-06 22:28] aahung commented on #110
I found a similar tool named [debounce-mac](https://github.com/toothbrush/debounce-mac) which use the same API Unshaky does. Can you try to see it produce any output?
Besides, can you do me a favor also test it when you don't use `sudo` to run that program (Unshaky usually don't acquire root privilege)?

[2019-08-08 05:05] tuananh commented on #110
0.5.3 works for me. newer update do not.

[2019-08-08 08:41] aahung commented on #110
@tuananh when it does not work, anything shows up in the debug window?

[2019-08-08 09:33] tuananh commented on #110
its blank

On Thu, Aug 8, 2019 at 3:41 PM _sam <notifications@github.com> wrote:

[2019-08-08 14:19] mmathys opened #113 "Disable (exclude) keys which don't have the shaky issue"
In my case there are certain keys which don't have shaky issue. For example the keys {Left, Right, Up, Down, Delete}. Therefore I set the delay of these keys to 0.

When I set the configure the delay for all other keys with the "set ALL to (ms)" option, the value of the keys {Left, Right, Up, Down, Delete} are overidden each time. I then have to set the value of these keys again to 0. This happens

[2019-08-08 15:03] mickaphd commented on #110
Is it possible that the problem appears when the mac wakes up after sleeping? I mean I still don't find any logic explanations to explain why sometimes it works and sometimes not

[2019-08-08 15:04] tuananh commented on #110
for me, it doesn't work from the latest version. I can't find out why until I saw this issue. So i tried every version from latest down to 0.5.3 and that's when it starts working for me.

[2019-08-08 15:09] mickaphd commented on #110
Can you try to update to the last version to see if it still works? Because in my case the most recent version still works sometimes (and just stop sometimes too..!), just to confirm if it's really a problem between 0.5.3 and 0.5.6

[2019-08-09 07:50] Zandor300 commented on #113
I think a checkbox for each key for "Include in set-all" would be easier. The state of this checkbox should be remembered to actually solve the issue of having to keep track of the setting for these keys.

[2019-08-09 13:26] mmathys commented on #113
Checkboxes are more visible you are right. However I would not name it "include in set-all", this is confusing in my opinion. An "is enabled" checkbox for each key would be more intuitive

[2019-08-09 18:40] aahung commented on #113
Having a checkbox to individual row makes sense. Actually, since the checkbox is kind of narrow, how about just put a two-character "On" as the column header?

[2019-08-09 18:45] aahung commented on #111
Sorry for the delay.

Hi @blazeblazeblaze @youshy thanks for your interest. A branch named "lang/pl" has been created and you can see 5 string files in "pl.lproj"

For each file you will see several "some identifier here" = "some text in English here"; and only "some text in English here" part need translation. Besides, /* ... */ are comments and they don't need translation.

When you done, just c

[2019-08-09 18:48] aahung commented on #110
Interesting, @mickaphd I made a few changes about keyboard layout since 0.5.3, that might be the issue? @tuananh what keyboard layout do you use? Also did you use the keyboard layout feature in Unshaky configuration?

[2019-08-09 18:54] aahung commented on #110
but the keyboard layout thing shouldn't affect the core function. One possibility I can think of is with the new keyboard layout feature, the delays might not be set properly, therefore, the debug window is empty (because it only shows events for keys with >0 delays). I think I should change this behavior to show EVERYTHING when debug window is open.

[2019-08-10 00:16] tuananh commented on #110
just the default us keyboard layout.

[2019-08-10 01:35] blazeblazeblaze commented on #111
Thanks mate, I'll get the branch ready today. Happy to merge it along with @youshy changes.

[2019-08-10 02:07] blazeblazeblaze commented on #111
@aahung @youshy I reckon it's done (5 files). Feel free to review and merge if you're happy with that 🎉

[2019-08-12 04:18] aahung commented on #111
Awesome!!!

[2019-08-12 04:18] #111 closed

[2019-08-12 04:19] aahung commented on #111
Thanks for making this happen!

[2019-08-12 19:20] Falmarri opened #117 "Key event isn't propogated until released (occasionally)"
**Describe the bug**
When a key is configured with a timeout, it delays the key down event until key up

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a key delay (space bar in my case)
2. Press the space bar key, wait momentarily and then release
3. You'll notice that the space doesn't show up until the key is released

It's hard to time exactly right, but I notice that I end up `ty

[2019-08-13 01:26] aahung commented on #117
@Falmarri can you also post the debug window content?

[2019-08-13 03:19] Falmarri commented on #117
So I'm having trouble replicating it, but I still get the situation where spaces are typed after the next letter. It might just be the awfulness of the mac keyboard though rather than this tool

[2019-08-14 18:54] brad07x opened #118 "macOS Catalina Beta - Accessibility Settings Checkbox not working (and the workaround)"
When configuring Unshaky on macOS Catalina Beta [10.15 Beta (19A526h)], the checkbox to allow accessibility access for Unshaky in System Preferences -> Security & Privacy -> Accessibility ('Allow the apps below to control your computer') cannot be marked to grant accessibility control permissions.

Steps to reproduce the behavior:
1. Open Unshaky.app for the first time and acknowledge the message

[2019-08-14 19:04] aahung commented on #118
@brad07x just felt bad about myself since I removed Catalina from my disk last week 😢. Thanks for providing this workaround, since Catalina is the beta software, I will re-visit this bug the week before Catalina is officially released to everyone (September).

[2019-08-14 19:06] aahung commented on #117
Either is possible. Please keep me updated in case you reproduce it. I need to investigate the log to find the issue, thanks!

[2019-08-14 19:17] aahung commented on #112
When I tried to create a cask, I found someone already did it! Thanks for whoever did this :D

https://github.com/Homebrew/homebrew-cask/blob/afa0314fa718bb1e6e92d87b7899d2d8cb73f415/Casks/unshaky.rb

[2019-08-14 19:17] #112 closed

[2019-08-14 19:18] aahung commented on #112
[code]

[2019-08-15 02:33] DavidNgoDev commented on #118
Thanks. Worked like a charm.

[2019-08-19 13:13] kilazi opened #119 "THANK YOU SO MUCH"
this saves me so much damn trouble -- I dont have an option to give in my macbook for a repairs for 2 weeks because I'm in a constant travel

hey make this app paid & on the appstore, I'm gonna buy it even though i have this open source version (and I believe many of us will!)

anyway, great thanks to you and the contributors, this is a life-saving piece of software >:)

[2019-08-19 21:51] aahung commented on #119
@kilazi glad it helps. Unshaky uses accessibility API which is not allowed on the App Store (has to be sandbox App to be there. Unshaky is still notarized by Apple to scan malware though).

Unshaky is a fairly simple application, and I think it does not reach the line I think it deserves charging people money :D

If you want to support this project monetarily 😀, there is a small "donate" button on

[2019-08-19 21:51] #119 closed

[2019-08-19 22:27] #97 closed

[2019-08-19 22:28] #94 closed

[2019-08-19 23:46] aahung commented on #113
Seems no need to place "On" at all, since it is quite self-explanatory.

<img width="592" alt="image" src="https://user-images.githubusercontent.com/3804518/63306733-b80e1f80-c2a0-11e9-8567-4e5b16977402.png">

[2019-08-19 23:46] #113 closed

[2019-08-20 00:09] aahung commented on #97
@niksawtschuk @trevormeier can you guys test the v0.6.0?

[2019-08-20 00:09] aahung commented on #113
@mmathys @Zandor300 v0.6.0 is out, plz test this feature thanks!

[2019-08-20 14:43] niksawtschuk commented on #97
@aahung `Ignore Internal Keyboard` seems to work as intended in `v0.6.0`. Thanks!

[2019-08-20 17:55] sachazufferey opened #120 "Keyboard layout not saved"
**Describe the bug**
When I change the keyboard layout to "QWERTZ" (French Switzerland in my case) and I close the configuration windows, when I open it again, the configuration is back to "US"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Configuration
2. Change layout to QWERTZ
3. Close the windows
4. Open Configuration again

**Expected behavior**
QWERTZ must be savd

**Desktop (p

[2019-08-20 23:49] #120 closed

[2019-08-20 23:49] aahung commented on #120
thanks for reporting the issue

[2019-09-01 22:45] xDreamms opened #121 "Release for Windows"
Please do it. I have issue with my keyboard It presses keys twice.  I need this on Windows....

[2019-09-02 11:13] xDreamms commented on #121
Where I need  delay ? after key up or after key down

[2019-09-02 23:30] aahung commented on #121
duplicate #44

I currently don't have plan to develop a windows version.
You might want to look into some other alternatives such as the one in this article: https://www.dell.com/community/Laptops-General-Read-Only/Keyboard-debouncing-utility-Solution-workaround-for-key-bounce/td-p/3487933

[2019-09-02 23:30] #121 closed

[2019-09-02 23:51] githmw commented on #121
aahung:

I wish you would reconsider a Windows version. All the links on the Dell community forum you referenced (as well as other links throughout that and similar threads) go nowhere. I did find that someone located and pasted the code here in 2014: https://pastebin.com/XYErShPB

But I am not smart enough to turn that code into anything usable, plus I have no idea what version it is (since the a

[2019-09-03 00:02] aahung commented on #121
@xDreamms @githmw I might try it when I have the time and resource, but I currently do not possess a windows PC to do any native windows development.

Regarding how to use the script in AutoHotkey, there is a tutorial here https://www.autohotkey.com/docs/Tutorial.htm#s12, hope it helps (I am not able to test it because I don't have a windows environment)

I searched a little bit more and found thi

[2019-09-03 00:18] githmw commented on #121
aahung:

Thanks. I tried to search the autohotkey site before my last post, but I could not locate anything. You are much better.

I'll read that info, and see if I can figure out how to put the code together. I have no knowledge of coding, currently.

Harry

[2019-09-04 18:54] hazarek opened #122 "Configuration window multi-editing feature."
There is no need SET ALL button. just set the selected keys is enough.
Multiple selection with COMMAND and SHIFT keys,  something like this;

![multi-edit](https://user-images.githubusercontent.com/36481442/64282154-76969900-cf5d-11e9-8fd7-49b7491a9a2e.gif)

or

press COMMAND+A to select all keys then press SET button

[2019-09-05 03:38] aahung commented on #122
Thanks for the suggestion, I think it is a nice addition.

The current design decision is to make setting a universal delays explicit, with the combination of "set all" and "enabled" checkboxes.
Holding Command/Shift to multi-select or shortcut like Command A are great idea, and they can do more things than the current interfaces. But they are implicit, and requires users to try before knowing the

[2019-09-05 08:38] Zandor300 commented on #122
Maybe you can do that the button says "Set all" if no rows are selected but as soon as `selectedRows.count > 0`, you change it to "Set selected". Obviously with matching behavior.

*(I know that the table view doesn't work that way, but it was easier to explain.)*

[2019-09-06 18:41] hazar-e commented on #122
what is difference beetween "0 delay" and "disabled" checkbox? also there is need a "disable all" checkbox, One by one make it very hard to mark.

[2019-09-09 07:27] kwstasna opened #127 "Greek localization"
**Language**: Greek

**Can you help with the translation?**
Yes

Hello and thanks for this awesome work.
I would like to help you with the greek translation of the strings. 🤘

[2019-09-19 15:04] mickaphd commented on #110
Just to let you know in case it can help to understand this issue, Unshaky still stop working for me sometimes after a few hours but I just noticed that if I lock my computer (lock screen, it's not needed to log out or shutdown), it works perfectly just after. I tried that from 3 days and it works. I have no explanation but maybe you will!

[2019-09-26 08:33] arekm commented on #113
One checkbox to select / unselect all these checkboxes would be nice too (especially for initial unselecting if you only want to "activate" delay for few characters). There is small room before "Key" text for that :)

[2019-10-02 17:30] clickysteve commented on #110
I have the same issue here. App doesn't appear to be working any more, even with very large delays. 0.5.4 version. OSX 10.13.6. Blank debug window.

[2019-10-02 17:44] clickysteve opened #128 "Unshaky stopped working - empty debug window"
**Describe the bug**
Unshaky appears to have stopped working. It shows a static number of shaky keypresses stopped, and the debug window is empty.

I am on OSX 10.13.6. I was on Unshaky 0.5.4, and just updated to 0.6. The same issue remains. What's odd is that even though I thought I completely uninstalled Unshaky, it remembered my preferences, so there must be something I missed. I tried restarti

[2019-10-02 17:56] clickysteve commented on #128
Looks like I had a conflict with Karabiner, which is annoying, as I use it to map the Caps Lock key to a Hyper key config. As soon as I disabled it, Unshaky started working again. Any suggestions for sorting this out?

[2019-10-02 18:30] mickaphd commented on #128
I already opened a ticket long weeks/months ago (#110) with the same problem. I let a message recently saying how I was fixing the problem (just lock screen). Can you try if it works for you?

[2019-10-03 02:32] aahung commented on #128
Thanks for reporting. It is a possible duplicate of #110 or a conflict with Karabiner. I will test it when I am free.

[2019-10-03 02:39] aahung commented on #127
@kwstasna First sorry for the terrible delay here.

Thanks for your interest. A branch named "lang/el" has been created and you can see 5 string files in "el.lproj"

For each file you will see several "some identifier here" = "some text in English here"; and only "some text in English here" part need translation. Besides, /* ... */ are comments and they don't need translation.

When you done, just

[2019-10-03 02:46] aahung commented on #110
#128 gives an possibility that Unshaky might conflict with other programs. I am not sure if it is the case for this issue though.

@clickysteve when did it start to fail? Does upgrading to 0.6.0 resolve the problem?

[2019-10-07 15:23] clickysteve commented on #110
Just noticed it this past week. Upgrading to 0.6.0 hasn't resolved the issue. Seems to be a conflict with Karabiner.

[2019-10-12 12:55] a-x- opened #130 "Add hide menubar icon option please"
**feature request**

Icon is useless and takes a place,

<img width="592" alt="Screenshot 2019-10-12 at 15 54 14" src="https://user-images.githubusercontent.com/6201068/66701771-c6107780-ed08-11e9-9d4f-48e7881ce705.png">

[2019-10-12 13:10] aahung commented on #130
See [How to hide Unshaky from status bar](https://github.com/aahung/Unshaky/wiki/How-to-hide-Unshaky-from-status-bar)

[2019-10-12 13:10] #130 closed

[2019-10-12 13:11] aahung commented on #130
Duplicate #24

[2019-10-13 20:20] a-x- commented on #130
Wiki pages on github are often empty. So I’m not sure, but I don’t see wiki unless readme refers it.

Can you add link to the recipe for further curious people?

[2019-10-14 04:03] aahung commented on #130
@a-x- totally make sense. Thanks for pointing that out.

[2019-10-17 16:42] richardsimko commented on #110
I also have the same issue, it used to work fine but has now stopped working, can't really recall when. I don't use Karabiner and I don't have any other apps which mess with keys. Tried locking the screen but that didn't help. Let me know if I can do anything to help troubleshoot.

[2019-10-18 08:30] richardsimko commented on #110
After an upgrade to Catalina it now works again!

[2019-10-22 06:07] korgoth opened #131 "Karabiner Conflict"
**Describe the bug**
Unshaky seems to be in conflict with Karabiner (i guess since they both capture/modify user input).  When Karabiner is running unshaky's debug window is empty, and it starts capturing events immediately after i stop karabiner

**To Reproduce**
explained above

**Expected behavior**
be able to still capture events after Karabiner (in sort of a chain reaction fashion)

**Desktop

[2019-10-22 06:28] aahung commented on #131
do you have "ignore external keyboard" on?

[2019-10-22 06:29] korgoth commented on #131
Yes i do?

[2019-10-22 06:30] aahung commented on #131
Does turning that off make it work? I guess Karabiner modifies the keyboard type of internal keyboard in some way

[2019-10-22 06:31] korgoth commented on #131
I just tried ti, and i am getting some input in the unshaky debug window now! Thanks for that - would have never thought of it!

[2019-10-22 06:32] aahung commented on #131
The info you gave helped with that guess. Now I know it is for sure. I will look into Karabiner's source code (luckily it is open sourced) and figure out what are changes they possibly make.

[2019-10-22 06:45] #131 closed

[2019-10-22 06:50] aahung commented on #128
Does #131 apply to your scenario?

[2019-10-24 12:04] aschlon4 opened #132 "Hi ! If there is a demand for Hebrew translation. i would love to help"
**Language**
English to Hebrew

**Can you help with the translation?**
(Yes/No)

Yes

[2019-10-24 22:28] webern opened #133 "Feature Request: Temporarily Disable"
I'll bet you never thought of this. Neither did I.

We use a physical token key generator at work. Apparently it 'types' very fast, less than 7 milliseconds. I would like to be able to disable Unshaky during the token generation and re-enable it afterward. I envision this as a menu item that toggles between `Disable` and `Enable`. Perhaps a then I could assign a global OS-wide key command for it.

[2019-10-27 00:25] hazarek commented on #133
you can quit and launch app with automator service. and you can assign a shortcut.

[2019-10-31 14:14] BobbyC777 commented on #39
Is there a way to reset statistics?

[2019-10-31 14:37] andreynering commented on #39
@BobbyC777 You're welcome 😉

[2019-10-31 14:42] chmac commented on #39
@BobbyC777 Pro tip, replacing the keyboard on a mac laptop usually includes the battery, so you if unshaky solves your problem, you might want to wait until the laptop is a year or three old and then get it serviced by apple! :-)

[2019-10-31 14:49] BobbyC777 commented on #39
@Callum Macdonald -

Great tip & one that helps me rationalize procrastination !  Thanks!   It
irks me to spend this much for a laptop (way more than normal for me) and
then have a problem like this. My first Apple computer <sigh>.  (And if
you're listening thanks to Sam Liu for writing unshaky!)

On Thu, Oct 31, 2019 at 10:43 AM Callum Macdonald <notifications@github.com>
wrote:

[2019-11-05 10:12] TorlopovAndrey opened #134 "Please, add cmd key in list!"
**Is your feature request related to a problem? Please describe.**
I have a problem with left cmd button. Can you add this key in list?

[2019-11-06 04:28] hazarek commented on #8
I removed left comnand the key and cleaned it with air and brush and it was improved. I rarely print c. also command key can be replaced with fn in system settings

[2019-11-06 16:26] poyynt opened #137 "Translation to Persian"
**Language**
Persian

**Can you help with the translation?**
(Yes/No)
Yes

[2019-11-06 23:13] hazarek commented on #134
@TorlopovAndrey duplicate of https://github.com/aahung/Unshaky/issues/8
I think you should close the title

[2019-11-07 02:07] aahung commented on #137
Thank you for your interest, @poyynt can you refer to #98 ?

[2019-11-07 21:05] poyynt commented on #137
Okay

[2019-11-07 21:05] #137 closed

[2019-11-08 17:43] MWYang commented on #131
Would it be possible to enable Unshaky on a per-keyboard basis? So Unshaky could be enabled for Karabiner's "external" keyboard but disabled for other external keyboards.

[2019-11-09 20:39] hazarek commented on #110
It just happened to me, when I set the millisecond, I realized it was ineffective.
When I restarted the app it worked properly. Today four more keys have begun to cause problems. and I broke the left shift, shift is working for now. `r` prints three times (thanks aggressive mode). I'm sure it's not related to this piece of dust. this is a hardware problem. sorry for my english.
Unshaky 0.6.0 Macos

[2019-11-09 20:56] hazarek opened #138 "key - specific aggressive mode."
İf we set the aggressive mode only for keys that press 3 times. Do we use less CPU?

[2019-11-09 21:08] hazarek commented on #39
It just happened to me, when I set the millisecond, I realized it was ineffective. double letters came back. When I restarted the app it worked properly.
Unshaky 0.6.0 Macos Catalina 10.15.1

[2019-11-12 12:01] #138 closed

[2019-11-12 16:15] clickysteve commented on #128
That fixed it! Interesting bug. Thanks :)

[2019-11-12 22:01] madmarinero commented on #121
Your script works perfectly on Windows using AutoHotKey. My Mac Book Pro (2018) finally works perfectly under Windows (on Mojave works with your Unshaky app ...thanks). Anyhow, I'm going to replace this keyboard soon. Thank you so much for sharing the script. All the best.

[2019-11-23 13:44] Sia7ash opened #139 "translate to persian ( farsi )"
**Language**

**Can you help with the translation?**
hi mate
yes
i can translate from english to persian so the persian language people can use this as well
thank for your amazing app

[2019-11-24 17:30] #122 closed

[2019-12-15 08:50] #134 closed

[2019-12-15 08:51] aahung commented on #132
Sorry recent issues have been heavily delayed. Are you still interested in translation?

[2019-12-15 08:52] aahung commented on #139
Sorry recent issues have been heavily delayed. Are you still interested in translation?

[2019-12-15 08:53] #127 closed

[2019-12-15 08:53] #106 closed

[2019-12-15 08:54] #93 closed

[2019-12-15 08:54] #95 closed

[2019-12-15 09:10] aschlon4 commented on #132
Hi ! Yep, still interested

[2019-12-15 09:20] aahung commented on #132
First thanks for your interest. A branch named "lang/he" has been created and you can see 5 string files in "he.lproj"

For each file you will see several "some identifier here" = "some text in English here"; and only "some text in English here" part need translation. Besides, /* ... */ are comments and they don't need translation.

When you done, just create a PR.

[2019-12-15 10:02] Sia7ash commented on #139
Hi mate , of course , I would love to help and translate this app.how may i help?

[2019-12-15 10:10] aahung commented on #139
Thanks for your interest. A branch named "lang/fa-2" has been created and you can see 5 string files in "fa.lproj"

For each file you will see several "some identifier here" = "some text in English here"; and only "some text in English here" part need translation. Besides, /* ... */ are comments and they don't need translation.

When you done, just create a PR.

someone tried to translate Persian

[2019-12-15 10:53] Sia7ash commented on #139
ok sure , i will translate them asap,thanks for letting me do this

[2019-12-15 11:10] aahung commented on #139
@Sia7ash can you directly change the file? Github does convert comments to file changes. Also, /* ... */ are comments and they don't need translation.

[2019-12-15 11:12] Sia7ash commented on #139
@aahung sure , ok , sorry

[2019-12-15 11:16] Sia7ash commented on #139
@aahung what branches should i translate?fa or fa_2 ?!?

[2019-12-15 11:17] aahung commented on #139
@Sia7ash no worry. I did not know how Github works either, it is not very intuitive.

[2019-12-15 11:18] aahung commented on #139
`fa-2` please.

[2019-12-28 23:40] Sia7ash commented on #139
Hi mate
Marry Christmas , wish you happy new year
translating to persian is Done
see if anything need change
thanks.

[2019-12-29 01:57] aahung commented on #139
Great! really appreciate the effort! Where did you put files?

[2019-12-29 19:04] Sia7ash commented on #139
I edited them and saved them but apparently there is no edit!
i'm so confused !

[2019-12-29 19:28] Sia7ash commented on #139
i found the problem!
You’re editing a file in a project you don’t have write access to. Submitting a change to this file will write it to a new branch in your fork Sia7ash/Unshaky, so you can send a pull request.

[2019-12-29 19:32] aahung commented on #139
got it. It seems that you created pull requests from your `Counter.strings` branch to your `lang/fa-2` branch. Can you create pull requests that targeting `aahung/Unshaky`'s `lang/fa-2` branch?

This might be useful: https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/changing-the-base-branch-of-a-pull-request

[2019-12-29 20:01] Sia7ash commented on #139
done
hope it is OK now

[2020-01-02 04:54] #139 closed

[2020-01-03 11:10] mariodian commented on #110
Stopped working for me too. I even set the delay to 999ms and it isn't blocking any double space whatsoever.

I'm not entirely sure but I think it stopped working with the Catalina upgrade.

[2020-01-11 02:06] loomin1 opened #141 "Request: Ability to Hide Menu Icon"
I like my menu bar to be completely empty, and having this one icon up there is a little annoying. I've seen the option for all my other little widgets and apps, so I'd be nice if I could hide this one as well.

[2020-01-13 02:47] aahung commented on #141
duplicate #130

[2020-01-13 02:47] #141 closed

[2020-01-13 22:50] drtyprl opened #142 "Feature Request: Hide menu bar icon"
I would like to be able to hide the menu bar icon.

[2020-01-14 05:23] aahung commented on #142
(duplicate) See #24

[2020-01-14 05:23] #142 closed

[2020-01-14 05:24] aahung commented on #24
See [How to hide Unshaky from status bar](https://github.com/aahung/Unshaky/wiki/How-to-hide-Unshaky-from-status-bar)

[2020-02-02 02:20] Coder-256 opened #143 "Default delay"
**Is your feature request related to a problem? Please describe.**
I was very confused about why the app was not working at first, then I realized that the default minimum delay is 0.

**Describe the solution you'd like**
There should be a reasonable default for all keys, maybe 40ms.

**Describe alternatives you've considered**
Maybe this isn't necessary at all, or maybe there could be a different

[2020-02-02 20:26] aahung commented on #143
That is a great point!

[2020-02-03 18:15] Coder-256 opened #144 "Log number of OK keypresses"
**Is your feature request related to a problem? Please describe.**
I wonder what percentage of presses are shaky for each key. For example, `E` is at the top of my list, but that's probably because I use it a lot

**Describe the solution you'd like**
I wish Unshaky logged the number of all keypresses, both the overall total and totals for each key. Maybe the Statistics window could look something

[2020-02-03 18:42] aahung commented on #144
Thanks! Nice feature to implement!

[2020-02-04 18:31] kovalevandrew commented on #8
Hello, somebody have an issue with remove(delete) key, it deletes sometime more that one symbol?
Does Unshaky cover this?

[2020-02-10 09:10] musiKk commented on #128
FWIW I also have this problem and I don't use Karabiner. So far 0.5.5 but 0.6 does not fix anything. Downgrading to 0.5.3 works. I do use BetterTouchTool but quitting that does not make a difference either. Any suggestions? I'm on 10.15.2.

[2020-02-19 20:34] InnovativeInventor opened #145 "Detect Common Key Repetitions"
**Is your feature request related to a problem? Please describe.**
I have a very aggressive (read: high) delay for my mac's `i` key, which always double or triple presses. This works excellently most of the time, however, when I type in `init`, the second `i` can crap out.

**Describe the solution you'd like**
I would like to be able to specify word pairs that can be safely ignored.

**Describe al

[2020-02-19 20:39] InnovativeInventor commented on #145
Just as a note - the example on the README could be fixed by adding in `ap` as a common letter pairing. We could even allow the user to add arbitrary length strings as a common pairing/combination of keypresses (in the example in the README, they would add `apple`).

[2020-02-20 08:01] imahkam opened #146 "Persian"
**Language**
Persian aka Farsi

**Can you help with the translation?**
Yes.

[2020-02-22 16:16] AliLozano commented on #8
Someone have tried karabiner for this?.

I have this:

[code]

[2020-02-22 18:16] aahung commented on #8
@AliLozano looks like a great fix, does it work?

[2020-02-22 18:20] AliLozano commented on #8
Yes, It works. :)

[2020-02-22 18:47] aahung commented on #145
it is a great idea but I don't know how to implement this. How Unshaky works is to prevent ongoing keypress from registration. When user types `apple`, we don't know whether he wants to type `apartment` or `apple` without they actually types the more characters. 😢

[2020-02-23 16:12] InnovativeInventor commented on #145
Yes, that’s true. However, we could reduce the delay if the user types in a common letter pairing. For example, if the user types in `ap`, we can reduce or halve the input delay since `app` or `apple` are likely as opposed to when the user types `[[:space:]]p`, since `[[:space:]]pp` is a very unlikely pairing. All we would need is to do is keep track of the previous key presses.

[2020-03-03 08:26] BigCloudsec opened #147 "Doesn't work on Macbook Pro 2018 15 inch"
<img width="597" alt="Debug" src="https://user-images.githubusercontent.com/61178407/75756264-53fa0700-5d6b-11ea-8003-e277a0adfecf.png">
<img width="483" alt="GUI" src="https://user-images.githubusercontent.com/61178407/75756267-55c3ca80-5d6b-11ea-889b-7df94c40069c.png">
<img width="243" alt="Interface" src="https://user-images.githubusercontent.com/61178407/75756268-565c6100-5d6b-11ea-97b9-cd7aa4

[2020-03-06 10:43] yosif111 opened #148 "Arabic Localization"
**Language**
Arabic

**Can you help with the translation?**
(Yes/No)
Yes!

[2020-03-07 07:16] BigCloudsec commented on #147
The issue is solved AFTER I REBOOT MY DEVICE

[2020-03-07 07:16] #147 closed

[2020-03-19 18:30] eudinaesis commented on #110
I may be having the same issue. Mojave 10.14.6, MBAir 2018, English-International layout. I just installed Unshaky for the first time yesterday (0.6) and even when I set the delay very high, nothing happens -- blank debug window, no suppressed strokes.

[2020-03-19 18:39] mickaphd commented on #110
Yes there is definitely a problem. For me when it stop working I just "Lock Screen" and just after unlocking it start working again. But it's really annoying. Try to see if it works for you

[2020-03-22 01:17] aahung commented on #110
Sadly this has been a weird bug I can never reproduce 😢 . If you click the unshaky icon on the menu bar, it will try to restart all hooks. If that does not work (blank debug window when pressing configured keys), make sure you disable "ignore external keyboard" options.

another workaround: remove Unshaky and download again to see if that helps (if it is caused by Unshaky cannot get accessibility

[2020-03-22 01:20] aahung commented on #145
@InnovativeInventor that is a very interesting and innovative solution. Unfortunately, currently I don't really have the time to develop a prototype to test its effectiveness... 😞

[2020-03-22 01:22] aahung commented on #146
Thanks for your interest, can you follow up #98?

[2020-03-22 01:22] #146 closed

[2020-03-22 01:27] aahung commented on #148
Hi @yosif111 thanks for your interest. A branch named "lang/ar" has been created and you can see 5 string files in "ar.lproj"

For each file you will see several "some identifier here" = "some text in English here"; and only "some text in English here" part need translation. Besides, /* ... */ are comments and they don't need translation.

When you done, just create a PR.

Thanks!

[2020-03-22 01:45] aahung commented on #132
close due to inactivity

[2020-03-22 01:45] #132 closed

[2020-03-22 01:46] aahung commented on #117
close due to inactivity.

[2020-03-22 01:46] #117 closed

[2020-03-27 06:26] Sinboo opened #149 "Can not work after update to 10.15.4"
No effect in 10.15.4, the test board is not working too. Please check, because Unshaky is so important. Thanks for the brilliant job!

[2020-03-27 06:59] Sinboo commented on #149
After restart, It works again! Thanks~

[2020-03-27 06:59] #149 closed

[2020-03-28 08:18] pooya-alen1990 commented on #98
I can help you to translate to Persian ;-)

[2020-03-31 19:23] mariodian commented on #110
Downgrading to 0.5.3 fixes the problem.

[2020-04-09 19:26] gabmontes opened #150 "Spanish-ISO keyboard layout support"
**Describe the solution you'd like**
Have the ability to select "Spanish-ISO" from the list of keyb layouts and show proper mappints in the keys list.

If there is any way I can help, please let me know. Able to send a PR if you give me some guidance on this. Thanks!!

[2020-04-10 08:48] ushuz commented on #130
@aahung Maybe add a link on app's configuration page to the wiki?

[2020-04-14 15:51] ElectricWarr commented on #110
I also have this issue, or something very similar:

- Unshakey Version 0.6.0
- macOS 10.15.3

When it isn't working (which is most of the time), the debug window ONLY shows keypresses for buttonns:

- Right shift
- Right alt
- Right command
- Left command
- Left alt
- Left control
- fn
- Left shift
- Caps Lock

Here's an example I made by pressing every key on each row left-right top-bottom:

[cod

[2020-04-14 16:29] aahung commented on #110
Thanks for the information. [this long-lasting issue makes me scratch my head so much!]

[2020-04-15 14:20] ElectricWarr commented on #110
Is it normal for all of these keys to show up as "Unknown"? Can you think of any reason only these modifier keys are picked up, and nothing else, or rather is there anything you are aware of that groups these keys?

[Attached a config export](https://github.com/aahung/Unshaky/files/4481732/unshakey_config.txt) in case that answers any questions - this has stayed constant between the "working" and

[2020-04-15 22:33] gklimowicz opened #151 "Disable when running Keyboard Maestro macros"
**Is your feature request related to a problem? Please describe.**
I have several Keyboard Maestro macros that insert text via the "Insert Text" action via "Insert text by typing". It looks like the keyboard typing is simulated quickly enough in Keyboard Maestro that some of the keys (especially my unbounced Space key) get omitted, even if there is text between the spaces. For example, the text

[2020-04-17 06:01] ramlev opened #152 "Danish translations"
**Language**

Danish

**Can you help with the translation?**

yes

[2020-04-22 21:05] samudurand commented on #8
Any progress to get that achieved with only unshaky ? it's a great tool and it works fine, except that on Intellij the double shift is an essential shortcut to open the search box. So at the moment I am getting the search box opened all the time when typing. I worked around that by changing the shortcut but it would be a great addition

[2020-04-23 06:04] aahung commented on #8
@samudurand thanks for checking here. I am afraid I don't have plan to implement it yet... With how Unshaky works right now (cancel subsequent presses), "holding shift" key would be very much broken.

[2020-04-25 07:16] TimboSIice opened #153 "Hide Menu Bar Icon"
Would it be possible to add an option to hide menu bar item?

[2020-04-25 07:35] aahung commented on #153
See wiki for detail

[2020-04-25 07:35] #153 closed

[2020-04-26 23:00] amphioxusiv opened #154 "Add an option to disable statistics in menu"
Hi. Firstly thank you for that app. I want to little thing from you. Seeing shaky presses statistics makes me sad. Therefore I don't want to see the counter. I would be very happy if you could add such an option to the settings. Thank you

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Remove counter

**Describe alternatives you've consi

[2020-04-27 04:50] ysgclight commented on #8
The left shift button on my keyboard recently keeps double-clicking. Really need this shift feature, because it's quarantine time, and I couldn't go out now to fix it physically... Thanks!

[2020-04-27 08:10] aahung commented on #152
Hi @ramlev thanks for your interest. A branch named "lang/da" has been created and you can see 5 string files in "da.lproj"

For each file you will see several "some identifier here" = "some text in English here"; and only "some text in English here" part need translation. Besides, /* ... */ are comments and they don't need translation.

When you done, just create a PR.

Thanks!

[2020-04-27 18:26] hazarek commented on #8
It was broken when cleaning the key, now it is working properly. It is necessary to remove from the top, not the bottom.
![IMAGE 2020-04-27 21:17:03](https://user-images.githubusercontent.com/36481442/80407088-b8e65f00-88cd-11ea-8f9d-d278a73cd510.jpg)

[2020-04-29 23:19] iw4p opened #155 "Farsi translation"
**Language**
Persian/Farsi

**Can you help with the translation?**
(Yes/No)
Yes

[2020-04-30 05:44] sburford commented on #144
Exposed per key counts and statistics are potentially harmful; for example comparing key counts before and after a password entry (eg. asking someone to unlock their device twice).

[2020-05-01 22:45] aahung commented on #144
that's definitely something we should consider here. potential malware might rely on monitoring unshaky's log (which requires much lower permission than listening to key press itself) to log the keypress.

[2020-05-07 12:04] georgehari opened #156 "Romanian"
**Language**
Romanian

**Can you help with the translation?**
Yes

[2020-05-11 19:07] RicardoPassavantes opened #157 "Catalina Security - Input monitoring vs accessibility"
Giving Unshakey accessibility full computer control in the Privacy & Security settings makes me nervous - can/has it been updated to support Input Monitoring?

[2020-05-12 23:44] Xenthio commented on #145
you could use a simple counter to find the keys most pressed twice really quickly. have a var for each key and find each keys count that is greater than a configurable value.

[2020-05-14 07:09] amitudeshi opened #158 "kind of worked but then stopped"
my letter b doubles, but there is a delay. i can type the word bebcause, and you can see how it impacts me. I have gotten some improvement with varying time delays. I kept increasing it, but it is currently at 1,200 and still went wrong as demonstrated at the top of this. Do you know what could be happening?

[2020-05-14 22:05] InnovativeInventor commented on #145
Yeah @Xenthio. This is really just a *somewhat smart* outlier detector.

[2020-05-17 05:30] bsphere opened #159 "ignore any unconfigured key to reduce typing latency"
is it possible to ignore any key that is not marked in Unshaky, or set to 0ms, to reduce a tiny bit of noticeable latency while typing which is added by Unshaky?

[2020-05-19 06:54] aahung commented on #159
Unshaky only has a very minimal operation on keys with 0 delay. Do you have the debug window open? debug window will significantly slow down the Unshaky.

[2020-05-19 06:55] aahung commented on #158
weid. 1,200 is apparently too large a delay. Doesn't 40-80 range work for you?

[2020-05-19 06:57] aahung commented on #157
it makes sense, thanks!

[2020-05-19 07:35] bsphere commented on #159
the typing is a little bit less responsive with Unshaky running, it probably won't be an issue for most people but i can definetly notice it.

I have a Macbook Pro 13" 2018 with a double spacing issue. i actually unchecked all other keys except for the spacebar in Unshaky's configuration. I don't have the debug window open...

[2020-05-20 14:51] angelsanz opened #160 "Whole system hangs when Accessibility permission is removed while Unshaky is running"
**Describe the bug**
The whole system mostly hangs when Accessibility permission is removed while Unshaky is running.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Unshaky.
2. Go to Security & Privacy settings, and disable Accessibility permission for Unshaky.
3. Attempt to switch windows (Cmd+Tab), show Mission Control, launch Spotlight, etc.
4. None of that works for a while. The

[2020-05-20 15:32] amitudeshi commented on #158
I switched it back to 80 now. it doesn’t catch everything, but I have 215 shaky’s now, so it’s probably getting the majority.

[2020-05-26 07:08] benapetr commented on #128
Hello, I  don't  use karabiner I don't even know what it is, this app does nothing, I set delays to thousands  of ms, still get  double spaces all time, debug  window is empty. Some suggestions?

[2020-06-19 08:10] minhtrangvy commented on #133
2nded, Unshaky works great but gets in the way of yubikey OTP codes printing out

[2020-06-25 09:06] benapetr commented on #42
this definitely is same for Mojave

[2020-07-06 13:19] hntddt123 opened #161 "Stopped working on MacOS 10.15.5"
**Describe the bug**
UnShaky stopped working on MacOS 10.15.5

**To Reproduce**
Tried reinstall version 0.6 and not working

**Expected behavior**
Should dismiss some error keys

**Desktop (please complete the following information):**
 - macOS version: 10.15.5

**Additional context**
I tried to reset the counter still no luck

[2020-07-07 14:40] hntddt123 commented on #161
Turn out that check ignore external keyboard breaks it. Using Keychron k1.

[2020-07-07 14:40] #161 closed

[2020-07-10 08:38] akaalias commented on #151
I have had a similar experience while running Espanso, also a shortcut-based text-expander.

To illustrate, I recorded my screen and shared the video in Espanso's subreddit: https://www.reddit.com/r/espanso/comments/hoblay/mac_running_unshaky_causes_replacement_issues/

[2020-07-12 22:15] gerasimvol commented on #8
I successfully fixed `delete` and `return` keys with unshaky, but I also need left `command`
I beg you, please add support for it

[2020-07-17 05:19] toriningen commented on #144
Maybe make Shaky log available to root only, and require elevated privileges to look at per-key statistics.

[2020-07-17 13:56] hazarek commented on #8
I think it is not possible to fix modifier keys using software.

The left command key is also shaky for me. I disassembled it twice, the problem did not go away. sometimes decreasing, sometimes increasing. I realized that the temperature affected the problem. When the computer gets too hot, it gets better when the key is massaged.

![o](https://user-images.githubusercontent.com/36481442/87793452-f

[2020-07-17 21:25] hazarek commented on #160
* macOS Catalina 10.15.5
I tried and the computer froze for 10 seconds.

[2020-08-05 19:01] aahung commented on #157
According to the WWDC 2019 ["Advances in macOS Security"](https://developer.apple.com/videos/play/wwdc2019/701) where you can find the following transcript:

Accessibility feature is mandatory for Unshaky to function since "blocking" key presses will require not only "listen-only" event tap, but also the ability to modify the event.

To make you less nervous about such "excessive" permission, I am

[2020-08-05 19:01] #157 closed

[2020-08-05 19:02] aahung commented on #160
Input monitoring cannot replace the Accessibility permission for now, see [comment](https://github.com/aahung/Unshaky/issues/157#issuecomment-669409152) for detail.

[2020-08-05 19:02] #160 closed

[2020-08-05 19:06] angelsanz commented on #160
Understood. Not sure that tackles the computer hanging issue though.

[2020-08-05 19:07] aahung commented on #159
The [`CGEventMask`](https://developer.apple.com/documentation/coregraphics/cgeventtype?language=objc) does not seem to support masking individual keys... so sorry unfortunately I don't think there is a way to do so...

[2020-08-05 19:07] #159 closed

[2020-08-05 19:12] #158 closed

[2020-08-05 19:13] aahung commented on #155
duplicate #139

[2020-08-05 19:13] #155 closed

[2020-08-05 19:13] aahung commented on #152
close due to inactivity

[2020-08-05 19:13] #152 closed

[2020-08-05 19:14] aahung commented on #148
close due to inactivity

[2020-08-05 19:14] #148 closed

[2020-08-05 19:18] aahung commented on #160
Is it a valid issue? Why would you want to remove the accessibility permission while using Unshaky?

[2020-08-06 19:20] angelsanz commented on #160
To test if it actually needs it when you aren't sure about that.

Admittedly, it's not part of the main use case, but the effect it causes is oversized and unexpected.

[2020-08-07 04:57] hazarek commented on #160
Ad Hominem
![440px-Graham's_Hierarchy_of_Disagreement svg](https://user-images.githubusercontent.com/36481442/89610551-772d6300-d883-11ea-9407-0966dbd96b24.png)

[2020-08-16 17:01] stephb711 opened #163 "Unshaky will not open"
**Expected behavior**
I followed the instructions: Placed Unshaky in Applications and gave permission in Security & Privacy-Accessibility and Users & Groups-Login Items. When I go to Finder and double click Unshaky to open it to configure the settings, nothing happens at all. I'm unable to do anything. Can you help me figure out this issue? I've been trying to fix my two double-typing keys for mon

[2020-08-17 11:41] a-ershov opened #164 "Unshaky doesn't work with Bitwarden"
**Describe the bug**
Sometimes unshaky stop working and debug windows is empty.

**To Reproduce**
Not every time it stops working, but until you close Bitwarden debug windows is empty and unskaky not working.

**Desktop (please complete the following information):**
 - macOS version: 10.15.6

**Additional context**
Unshaky doesn't stop working every time and every day. But after the close of Bitwa

[2020-08-28 01:26] connorlindsey commented on #163
Does unshaky appear in the top menu bar? It's the left-most icon.
<img width="930" alt="image" src="https://user-images.githubusercontent.com/12838032/91510690-13eb8b00-e89b-11ea-8d6d-ce47a6fba4a0.png">

[2020-09-15 20:32] hdmi opened #165 "Extend functionality to mouse clicks"
This feature might be kind offtopic for this repo, however, I have not found something similar on the web and it might be easy to implement.

Is is possible to extend the debounce functionality for mouse clicks too? My mouse is faulty and it triggers a second click like 0.01 secs after a normal click (similar behaviour as faulty butterfly keyboards), triggering an unwanted hyperfast doubleclick.

[2020-09-23 14:29] #163 closed

[2020-09-23 14:30] aahung commented on #164
Do you have the option ignore external keyboard on? It is likely Bitwarden changes the keyboard types.

[2020-09-23 14:34] #165 closed

[2020-09-23 14:41] aahung commented on #143
I rethink it a bit. usually a user only needs to configure one or two faulty keys. It does not make sense to enable by default for all keys.

[2020-09-23 14:41] #143 closed

[2020-09-23 14:43] aahung commented on #25
close this because I am not capable of doing it.

[2020-09-23 14:43] #25 closed

[2020-09-23 14:44] aahung commented on #42
close this because I don't have a sierra or mojave machine to reproduce it, and it does not seem to affect many users.

[2020-09-23 14:44] #42 closed

[2020-09-23 14:44] #58 closed

[2020-09-23 14:46] aahung commented on #39
close now. We could not find the cause of the issue, neither can I reproduce it. :-(

[2020-09-23 14:46] #39 closed

[2020-09-23 14:48] #98 closed

[2020-09-23 14:49] aahung commented on #145
close now because with current resources I won't be able to pull this off

[2020-09-23 14:49] #145 closed

[2020-10-01 18:41] Ryanauger95 opened #166 "Doesn't work at all on Catalina 10.15.6 (Workaround Available, need Input Monitoring permission)"
**Describe the bug**
Doesn't work at all on Catalina

**To Reproduce**
Steps to reproduce the behavior:
1. Set any/all key delays to 999ms, theen taap a keey twice. I'm not deleting those eduplicates, becausee it shows that unshaky is not working.

**Expected behavior**
This shouldn't be happening at all. The keys shouldnt be duplicated.

**Desktop (please complete the following information):**
 -

[2020-10-02 09:14] aahung commented on #166
confirming the issue on 10.15.6 with error in `Console.app`:

[code]

[2020-10-02 09:38] aahung commented on #166
I don't know if it is due to I just renewed my Apple developer program membership. I will upload a new build to see if it can fix it

[2020-10-02 09:51] aahung commented on #166
[v0.6.1](https://github.com/aahung/Unshaky/releases/tag/v0.6.1) should fix it. Re-open if it doesn't

[2020-10-03 03:41] aahung commented on #166
I am still getting the error. Don't have a solution yet

[2020-10-11 07:28] azk-mochi commented on #166
Hello. I had the same error on Catalina and Big Sur, and recently I've got Unshaky app (v.0.6.0) work on macOS Big Sur (beta, 20A5384c).

1. Close Unshaky app
2. System Preferences -> Security & Privacy -> Privacy -> Accessibility -> delete Unshaky app -> add Unshaky app
3. System Preferences -> Security & Privacy -> Privacy -> Input Monitoring -> delete Unshaky app -> add Unshaky app
4. System Pr

[2020-10-13 19:53] j-f1 commented on #166
Thanks, @azk-mochi! I didn’t need to do step 4 (Developer Tools). I also found that enabling the “ignore external keyboard” option stopped the app from working.

[2020-10-14 04:25] aahung commented on #166
Thank you @azk-mochi for the workaround.

I tested it on my macbook and it works. My `spctl --status` is `enabled` and I did not add Unshaky to "Developer Tools."

[2020-10-20 13:39] shearerp commented on #128
I have been having the same problem. Currently on 10.14.6.

I saw the most recent Catalina issue and decided to remove+add Unshaky from the Privacy/Accessibility settings. That seems to have fixed it for now.

Not sure it will stick though, because last time I installed Unshaky it worked for like 15 minutes and then nothing I did would get it to continue working.

[2020-11-05 23:10] dbachorz commented on #166
Doesn't work for me, debounce doesn't work even if I set 2000 ms delay

[2020-11-12 11:02] peturingi commented on #166
I am unable to reproduce this bug on 10.15.7 (19H15) using Unshaky 0.6.0.

[2020-11-16 23:29] endoplasmian opened #167 ""Unknown" input on debug feature?"
I've been having the regular Mac problem where I'll type something, and then my computer will repeat the last 3-10 ish characters I typed, eg:
`My` Input: Hello world
My computer's output: Hello ello world

It also periodically seems to fix itself and stop doing the double typing. Which is great, except for when I'm trying to show someone what's wrong with it.

I opened the debug feature to watch

[2020-11-17 02:17] endoplasmian commented on #167
Well, it turns out the issue was my Wacom driver that I don't use! It still had access to input monitoring in my system preferences and was apparently running in the background despite me not having used my tablet for... six months? One of my friends had the same issue and helped me fix it. All I had to do was stop giving it access. It's weird- that program must have been running in the background

[2020-11-17 02:17] #167 closed

[2020-11-17 11:55] vstoppe opened #168 "Unshaky compatibility for Macos 11 / Bug Sur"
While planning an upgrade to Macos 11 I am searching for information about the compatibility of Unshaky to Big Sur. any experiences yet?
Without Unshaky I get mad using my MBP 16"!

[2020-11-18 09:16] aahung commented on #168
I just upgraded to big sur two days ago. Unshaky still works as expected. (I did not go through the installation process, so I cannot say the same about installing)

[2020-11-18 09:16] #168 closed

[2020-11-23 23:08] flash76 commented on #168
Unshaky does not work for me. I tried using 0.6.0, to no avail, and tried building 0.6.1, but was experiencing errors with certificates while building.

[2020-11-25 16:00] artinalbert opened #169 "Is there going to be a version that works on Mac OS Big Sur?"
Unshaky despite still lunching automatically on Big Sur doesn't prevent any double or triple taps on any keys.

[2020-11-25 18:46] aahung commented on #168
Did you check out this issue? https://github.com/aahung/Unshaky/issues/166

[2020-11-25 18:47] aahung commented on #169
I tested on big sur in #168, if Unshaky does not work, can you check this workaround? https://github.com/aahung/Unshaky/issues/166

[2020-11-30 04:08] richardxu100 opened #170 "Address delayed repeating key error (ex. flintn)"
**Is your feature request related to a problem? Please describe.**
Unshaky has been a life-saver for me, but there is still a rather annoying bug that comes up somewhat often, which is a key repeating, right after another key is pressed. For example, I have a bad _n_ key, so sometimes when I type a word with an _n_ in the middle, the _n_ will not be repeated right afterwards, but will repeat right

[2020-11-30 18:15] hazarek opened #171 "macOS Big Sur compatible icon update."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

icon sizes and shapes are not compatible with big sur
<img width="204" alt="Ekran Resmi 2020-11-30 19 42 39" src="https://user-images.githubusercontent.com/36481442/100646960-d42bb800-334f-11eb-9369-c3dbb696fd38.png">
![Ekran Resmi 2020-11

[2020-12-01 23:59] richardxu100 commented on #170
I didn't notice that there is an aggressive mode. This mode may be addressing the exact issue I'm facing, so if so, please feel free to close this issue out!

[2020-12-03 07:58] aahung commented on #171
The icons are amazing! I cannot think of a reason why not. Thanks!

[2020-12-03 08:00] aahung commented on #171
Just two comments:
- do we have copyright issue with the butterfly image?
- The stroke alignment seems a bit off

[2020-12-03 08:31] hazarek commented on #171
no shape is  cc license. i can update design tonight.

[2020-12-03 08:32] aahung commented on #171
Cool. Thank you, appreciated that!

[2020-12-03 09:27] aahung commented on #170
Great!

[2020-12-03 09:27] #170 closed

[2020-12-03 09:27] #169 closed

[2020-12-03 18:27] hazarek commented on #171
## ICNS screenshot
<img width="852" alt="Ekran Resmi 2020-12-03 21 14 51" src="https://user-images.githubusercontent.com/36481442/101070875-f66e4180-35ac-11eb-85e8-8f24064d1879.png">

## All files
https://yadi.sk/d/M3APOHjat9R6Fw?w=1
https://gist.github.com/hazarek/b6436b7c9c07bf5ae56553c33da12e9e

## About menu bar icon
I couldn't find a template for the BigSur menu icon. I could not find it in t

[2020-12-03 21:02] sam1rm commented on #8
Confirming that both the CMD left + right key is having the double press issue.

[2020-12-09 09:43] aahung commented on #171
Thank you so much, this looks great! I still prefer the original colors. I did a bit tweaking. Changed the color to ones picked from [here](https://color.adobe.com/My%20Color%20Theme-color-theme-16281439), and increase the gap between the butterfly and stroke (because small gap looks odd when putting on task bar, the gap will disappear).

Here is the new version, I wonder if you are ok with it.

!

[2020-12-09 13:01] johanhugg commented on #131
Any luck with this? Would love to use unshaky

[2020-12-09 14:42] hazarek commented on #171
I can't build the branch you provided, I'm not a macos developer, I don't know xcode and swift. I know Python.
your change has been better. Thank you.

[2020-12-09 14:51] hazarek commented on #171
Right curve is not smooth.
<img width="84" alt="Ekran Resmi 2020-12-09 17 49 55" src="https://user-images.githubusercontent.com/36481442/101645122-0ff90880-3a47-11eb-96ee-3240bb9ec513.png">

[2020-12-09 20:28] aahung commented on #171
Fixed!

[2020-12-09 20:34] aahung commented on #171
<img width="328" alt="image" src="https://user-images.githubusercontent.com/3804518/101684204-e6c28300-3a1a-11eb-9741-48dbfe36d61a.png">

release soon

[2020-12-09 20:35] aahung commented on #171
@hazarek Thank you again for providing this new icon!

[2020-12-10 00:08] hazarek commented on #171
@aahung  Can you make menu icon little smaller. The icon is bigger than the Big Sur system icons. the margin should be slightly more.

[2020-12-10 02:30] scottlaurent opened #172 "Extra "Input Monitoring" Permission required in Catalina 10.15.7"
**Describe the bug**
On approximately 50% of certain keys pressed (in my case E and I) -- I've set the ms to 1000+ and there is zero effect. This just started on my recent update to Catalina 10.15.7

**Desktop (please complete the following information):**
 -  Catalina 10.15.7

**Additional context**
I've tested using Unshaky .60 and 0.63, and have tested the workarounds posted for Catalina 10.15.

[2020-12-10 04:40] truth1ness opened #173 "Change delay for only keys with current delay"
I would like to be able to change the delays on my problem keys together, but not have the new delay be applied to all the other working keys (which are set to 0ms). I want to be able to change the delay on all my problem keys but not have it be applied to keys I often press rapidly like the arrow keys or tab key, etc.

[2020-12-10 07:38] aahung commented on #173
You can uncheck the keys that work fine.

[2020-12-10 07:38] #173 closed

[2020-12-12 00:28] aahung commented on #172
do you have external keyboard turned on? How about delay like 500ms (I remember someone mentioning 1000+ has the same effect as 0)

[2020-12-12 00:31] aahung commented on #131
It is a good idea, but the amount of work required by it: UI+code makes does not justify the values as far as I can feel. It does not seem many people have this need. Would love to see someone could take on this though.

Luck with what specifically?

[2020-12-12 00:32] aahung commented on #171
Will update 👍

[2020-12-12 00:33] aahung commented on #164
Close due to inactivity

[2020-12-12 00:33] #164 closed

[2020-12-13 00:59] aahung commented on #154
<img width="475" alt="image" src="https://user-images.githubusercontent.com/3804518/102000331-56df3c00-3c9b-11eb-8f73-6aade6ba49a8.png">

[2020-12-13 00:59] #154 closed

[2020-12-13 01:09] aahung commented on #171
Right it is aligned: the spotlight icon and unshaky icon both have 1 pixel exceeding the black line.

It looks like macOS big sur itself does not enforce a constant icon height. spotlight is 1px higher than battery, and control center is taller and not centered. I think we are good now

<img width="1080" alt="image" src="https://user-images.githubusercontent.com/3804518/102000456-82aef180-3c9c-11e

[2020-12-13 01:11] #171 closed

[2020-12-13 01:14] aahung commented on #144
Unshaky does not require root permission to launch right now, I don't think it is worth to do this.

[2020-12-13 07:26] Dhilan001 commented on #172
This happened to me also, I fixed by enabling aggressive mode and setting delay to 40ms. This might work for you try it out and lmk

[2020-12-13 15:14] hazarek commented on #171
thanks excellent

[2020-12-30 15:45] simmac commented on #166
The workaround does not work for me with 0.7.0 on macOS 10.15.7 (19H114) :(

[2021-01-03 16:30] simmac commented on #166
nevermind, it seems to work after reinstalling the latest macOS update

[2021-01-03 20:15] simmac commented on #172
I have the same problem. Sometimes (probably directly after a reboot) it works until the next sleep. I tried enabling aggressive mode, didn't help :/

[2021-01-05 13:11] Dada40 commented on #166
Had the same problem with 10.15.7 (19H114) and Unshaky 0.7.0, even though all permissions had been set in the preferences.
After some time it started working for me for whatever reason (maybe a reboot solved it?).

[2021-01-07 20:55] aahung commented on #172
what's in the debug window

[2021-01-07 21:00] simmac commented on #172
When it's working correctly, every keypress appears in the debug window. When it doesn't work, only keypresses on special keys (eg cmd or alt) appear.

[2021-01-07 21:18] aahung commented on #172
Only modifier keys show up? That's odd. Can you paste a small snippet of log here so I can have something more concrete?

Also, what's your configuration (the checkboxes below delay config)

[2021-01-07 21:34] simmac commented on #172
My machine is currently at Apple service (for keyboard replacement, so I guess this fixes the issue for me :P), but I will get back to you when I have my machine again (feel free to remind me when I don't get back to you within two weeks)

Regarding the configuration, I left it at default values (I believe that's everything unchecked?) apart from aggressive mode, which didn't change the behaviour

[2021-01-10 22:55] kimmpsss opened #176 "Unshaky does not work on Macbook Air 2018 Catalina 10.15.7"
I have been trying to get unshaky to work for me on my macbook air 2018 model with catalina 10.15.7 but nothing seems to work. I have tried deleting and redownloading it, making sure that all settings are right under system preferences but it still does not register any keys or dismisses any. What can I do? I am still unable to find a way to add unshaky to input monitoring and the app has not aske

[2021-01-10 23:31] dataloudercom commented on #176
Did you try the workaround in #166?

[2021-01-10 23:32] aahung commented on #176
Did you try the workaround in #166?

[2021-01-10 23:37] aahung commented on #172
There is another bug report on 10.15.7 #176. I managed to test Unshaky on a 10.15.7 macbook and it works fine. Cannot reproduce it now.

[2021-01-10 23:38] aahung commented on #176
Close due to duplicate. Move to #172

[2021-01-10 23:38] #176 closed

[2021-01-25 21:46] duselbaer commented on #172
Same here, Unshaky works fine after rebooting the machine. But after a while (stand-by's) included - it stops working. The debug window only shows some special keys. Attached is the content of the log window after typing this comment.

[code]

Can I support somehow in debugging this issue?

[2021-01-26 14:43] duselbaer commented on #172
And this is what it looks like after reboot - typing "Hello World ..."
`

1611672135.102851 Key( 59| 55|       Unknown|   1048576| 40) E(12)
1611672135.243381 Key( 59| 48|           Tab|   1048576| 40) E(10)
1611672135.403145 Key( 59| 48|           Tab|   1048576| 40) E(11)
1611672136.194595 Key( 59| 55|       Unknown|         0| 40) E(12)
1611672136.449846 Key(198|  0|             A|         0| 4

[2021-02-04 01:25] desnum commented on #166
With version 0.7.0, the workaround does not work for me, on macOS Catalina 10.15.7

[2021-02-04 01:51] desnum commented on #166
@simmac

Did you make sure that the box was checked in Accessibility? I didn't have it checked by default and when I did check it, version 0.7.0 of Unshaky worked on my macOS Catalina 10.15.7.

<img width="780" alt="unshaky checkbox" src="https://user-images.githubusercontent.com/43796228/106833242-3317f100-6661-11eb-8180-6dc802885d9b.png">

[2021-02-05 21:14] cdce8p commented on #172
Same here.

@aahung I noticed that even with `Catalina` there is the `Input Monitoring` section inside `Security & Privacy` -> `Privacy`. It appears as though it has been recently added, since I haven't noticed it before. I can't add Unshaky to it if that would be required however.

[2021-02-08 08:02] Lodimup opened #177 "Doesn't work at all on Big Sur 11.2"
**Describe the bug**
Doesn't work at all on Big Sur 11.2

**To Reproduce**
Steps to reproduce the behavior:

1. Install Unshaky
2. Give permissions in

- Developer tools
- Input Monitoring
- Accessibility

_Debug window returns nothing._

**Expected behavior**
_Debug window returns key presses._

**Desktop**
MacbookPro13 2018 Big Sur 11.2
Internal Keyboard
External Keyboard G613

**Additional note

[2021-02-08 08:05] aahung commented on #177
Did you configure the key delays?

[2021-02-08 08:09] aahung commented on #172
Interesting. I never managed to reproduce this. Do you have other apps that might modify keyboard events such as karabiner?

[2021-02-08 08:10] aahung commented on #172
What do you mean "can't add Unshaky to it?" Is that preference pane not accessible?

[2021-02-08 08:36] Lodimup commented on #177
Oh my god. I did not. Thank you! Sorry to bother you.

[2021-02-08 08:36] #177 closed

[2021-02-08 11:51] cdce8p commented on #172
No

I could only add Unshaky to the `Accessibility` tab. In the `Input Monitoring` tab I only see a message that no apps have requested this permission. That was a surprise to me since the readme states that you should add it there too, [Readme](https://github.com/aahung/Unshaky#grant-accessibility-permission). The App itself  starts normally though without complains. If I remove the `Accessibilit

[2021-03-01 23:26] jwaddle commented on #172
In Catalina 10.15.7, I have the same issue as cdce8p. I can add and enable Unshaky in the Accessibility tab, but when I try the "Input Monitoring" tab, I get the same "Apps that have requested access to monitor input..." with no way to add or enable anything.

[2021-03-02 00:26] aahung commented on #172
@cdce8p and @jwaddle, looks like this is a known issue in macOS. https://apple.stackexchange.com/questions/379452/cannot-add-new-apps-to-mac-catalina-input-monitoring-on-security-privacy

I think Unshaky needs to ask this permission explicitly in next version, but before that, install some other app that requests input monitor could be a workaround. Some known apps that might request such permissi

[2021-03-02 01:08] jwaddle commented on #172
Thank you, that is exactly what I ended up doing. First I tried the ColorSnapper2 app, but it appeared to have the same issue re: never asking for Input Monitoring. Next I tried something called Cheat Sheet, and it worked well! After it was there populating the list, I was able to add Unshaky with the + button in Input Monitoring.  4 shaky keypresses blocked in the last 5 minutes, thanks.

[2021-03-02 01:13] aahung commented on #172
I did some testing and found only 10.15.7 seems require input monitoring to be turned on. I tested it on big sur (11.2.2) and Unshaky works without input monitoring. I think it is a bug in 10.15.7, therefore, closing this issue for now.

[2021-03-02 01:13] #172 closed

[2021-03-02 01:16] aahung commented on #172
BTW, I tried to let Unshaky to request input monitoring, however, I found the only way to request it is to not to request Accessibility permission at the same time, which is not very feasible.

[code]

[2021-03-02 01:18] aahung commented on #166
Close this issue, the workaround is good enough.

[2021-03-02 01:18] #166 closed

[2021-03-02 01:19] aahung commented on #118
Close this issue, it served its purpose well.

[2021-03-02 01:19] #118 closed

[2021-03-02 01:27] cdce8p commented on #172
I understand the limitation. Thanks for taking the time to investigate it.

[2021-04-10 13:28] hrutheone opened #178 "Thai Language"
**Language**
Thai

**Can you help with the translation?**
(Yes/No) Yes

[2021-04-11 05:00] cong1223 commented on #8
I’m hoping to add "Shift" to Unshaky +1！！！！！！its helpful to developers,  so important for us，thank u very much！！

[2021-04-11 05:04] cong1223 commented on #8
because its helpful to developers，ideas tools have many keymaps used by 'shift' or double 'shilft',  i hope unshaky can add 'shift' to unshaky next  version

[2021-05-05 07:59] lakshya97 commented on #166
I'm unable to add it to "input monitoring" on macOS Catalina 10.15.7. This renders the app unusable. Does anyone have any suggestions?

[2021-05-05 08:11] aahung commented on #166
Did you check out #172?

[2021-06-08 17:48] sharmaeklavya2 commented on #25
I think we should mention this issue in the readme or the wiki. It took me a long time to realize that unshaky's behavior is different for password and non-password fields.

[2021-06-21 15:56] alekseyl opened #180 "No shift key on the keys list"
**Describe the bug**
having a double shift press issue -- can't fix it with the unshaky app :(

**To Reproduce**
Steps to reproduce the behavior:
Double hits as usual double keystrokes is, but no option for a fix.

**Expected behavior**
To have a setting for right/left shifts double keystrokes

[2021-07-10 22:24] aahung commented on #180
duplicate #8

[2021-07-10 22:24] #180 closed

[2021-08-23 05:35] rxqy opened #181 "doesn't work with iterm2"
**Describe the bug**
Unshaky works well with everything (e.g., chrome, default terminal) else but not with iterm2
I still  get shaky inputs  in my iterm2

**To Reproduce**
Steps to reproduce the behavior:
Open unshaky and  type sth in iterm2

**Expected behavior**
works with iterm2

**Screenshots**
I added a gif with iterm2(left)  and   default terminal(right) here. I only set the delay of space t

[2021-09-13 16:00] sky417 opened #182 "Filtering sometimes doesn't work"
On macOS 11.5.2, unshaky 0.7.0.

Currently I have 55ms for global setting and 130ms for Space.

For some reason, the chattering doesn't get filtered for unknown reason. Here's a couple of samples:
[code]
The delta from keyup to keydown was only ~5ms, yet still registered.

[code]
The delta here was about 4.9ms, and registered.

Working log:
[code]
Worked fine in this case, ~9ms delta.

Is there an

[2021-09-28 11:34] aahung commented on #182
@sky417 this is pretty strange. From the log, my guess is it is somehow triggers the special logic:

I cannot remember too much details. Will try to re-visit this when I have time

https://github.com/aahung/Unshaky/blob/feac0093d0d823c183a6b83800a399a633b448cf/Unshaky/ShakyPressPreventer.m#L182-L196

https://github.com/aahung/Unshaky/blob/feac0093d0d823c183a6b83800a399a633b448cf/Unshaky/ShakyPress

[2021-09-28 11:39] aahung commented on #181
It is possible iterm2 listens to keyboard events directly and Unshaky won't be able to intercept them. Can you check whether iterm has accessibility permission and whether turning off it resolves it.

[2021-09-29 05:15] rxqy commented on #181
Many thanks! I'll look into it if I have time

[2021-09-29 05:15] #181 closed

[2021-10-12 14:40] tristdrum opened #183 "macOS Monterey Compatibility"
Currently only `CMD` seems to be getting picked up :(

Version 12.0 Beta (21A5543b)

[2021-11-13 12:30] AndreaCallia commented on #172
Thanks for this! Where did you get this Cheat Sheet app? When I google "Cheat Sheet app macos" I get completely unrelated results...

[2021-11-15 22:54] hazarek commented on #183
It works when I restart macOS and after a while Unshaky doesn't work again. (after Monterey Upgrade)

[2021-11-16 08:29] ventsislav-georgiev commented on #183
Definitely works after restart for me. Check if something removes its permissions...

[2021-12-07 05:01] qianbinbin commented on #183
@aahung
Same issue here on Catalina, all permissions granted. Aggressive mode doesn't work either.
Only several keys like cmd/shift/option shows on debug window.

[2021-12-15 01:55] ShredderWalnut commented on #151
Same here with Keyboard Maestro and Espanso. Unshaky’s debug window showed some key presses being dismissed.

[2022-01-19 19:46] m4ttheweric commented on #183
Occasionally I have to totally restart the program, and then disable aggressive mode, disable the entire thing, reset the MS to a diff value. Usually by doing that it will begin to work again eventually. Damn keyboard.

[2022-02-16 22:36] ahmed-alii opened #184 "Cleaner Menu Bar (Hide Unshaky Completely)"
Unshaky works the best and its saving my hundreds $$ for some days now.
However, having it hidden from the menu bar helps a lot for somebody with **OCD** like me.

Can we make this happen?

[2022-03-21 23:49] jbarbero opened #186 "Thank you!!"
I just want to say thank you for this app. It is a freaking lifesaver!

My only suggestion is, can you please add a paypal donation link or something? I would happily contribute. This app is saving me from a potentially $500-$700 repair and I just want to show my appreciation. You guys are the best.

Thank you!

[2022-03-23 16:54] TheAmbos commented on #8
Same for me. Its very frustrating :(

[2022-03-23 19:26] hazarek commented on #8
disassembling and cleaning the keys, sometimes blowing and massaging helps. but I can't guarantee. it worked for me.

[2022-03-23 19:26] hazarek commented on #8
disassembling and cleaning the keys, sometimes blowing and massaging helps. but I can't guarantee. it worked for me.

[2022-04-03 08:04] constanthinium opened #187 "Second key hit dismiss sound"
I'd like to hear the sound every time the second key hit is dismissed. This would allow you to feel the work of the application in real time, which is quite interesting. Just quiet click or something.

[2022-04-16 06:15] aahung commented on #187
Thanks, it is an interesting idea. But I have to "reject" it because it doesn't fit the core function of the app 😅.

[2022-04-16 06:16] #187 closed

[2022-04-16 06:17] aahung commented on #186
Good to hear it make your life easier!

I do have a donation link in README but I don't encourage to do so anymore because I am no longer actively maintaining it.

[2022-04-16 06:17] #186 closed

[2022-04-19 09:11] KrishEnacton commented on #183
Its working fine for me at first attemp

[2022-04-20 05:10] Pnwseattleguy opened #188 "Arabic Translation"
**Arabic**

**Can you help with the translation?**
(Yes I can :) )

[2022-07-23 14:55] 0xPhong commented on #184
Yeah. This application like a charm and will be more shine if got an option to hide icon on menubar.

[2022-08-09 11:03] ThijmenDam commented on #184
A third party solution: [BarTender](https://www.macbartender.com)

NB: I do not have any affiliation with BarTender.

[2022-08-09 11:08] phongdotvn commented on #184
Or using this 6.6k stars opensource for Hidden Bar

https://github.com/dwarvesf/hidden

[2022-08-09 11:10] ThijmenDam commented on #184
I had absolutely no idea this project existed. Thank you very much!

[2022-10-08 02:53] adufeng commented on #8
please add "Shift" to Unshaky, thank u very much！！thank u very much！！

[2022-10-31 05:49] rpendleton commented on #184
This is actually possible already. It's documented in [How to hide Unshaky from status bar](https://github.com/aahung/Unshaky/wiki/How-to-hide-Unshaky-from-status-bar), but basically, you just have to hold command while dragging the icon away from the menu bar.

[2022-10-31 05:49] Bluekezhou commented on #184
您的邮件已收到，谢谢！

[2022-11-01 10:29] ShevaDavid opened #189 "Unshaky for Mac Boot Camp"
Unshaky saved my live on my Mac. I installed Windows on my mac using Boot Camp and have hard times with this keyboard.
Is it possible to have Unshaky for Windows?

[2022-11-06 16:44] Anavrin1990 opened #190 "Unshaky not working on Mac OS Ventura"
The app can not be opened

[2022-11-07 06:09] #190 closed